{% load product_tags %}

{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
        <div class="prds-block clearfix">
            <h2 class="prds-block-lbl">Недавно просмотрено</h2>
            <a class="scroll scroll-left btn" onclick="scroll_div(0, '.recently-list');">
                <span></span>
            </a>
            <ul class="recently-list carousel-prods dragscroll">
                {% for product in products_sliced %}
                <li>
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
            <a class="scroll scroll-right btn" onclick="scroll_div(1, '.recently-list');">
                <span></span>
            </a>
        </div>
    {% endif %}
{% endwith %}
