<footer class="footer hidden-xs hidden-sm">
    <hr class="hr-foot">
    <div class="foot-cont">
        <p class="foot-1">Гарантия качества</p>
        <p class="foot-2">Быстрая доставка</p>
        <p class="foot-3">Любые способы оплаты</p>
    </div>
</footer>