{% load form_tags %}
{% load widget_tweaks %}
{% load my_tags %}
{% load my_util_tags %}
{% load currency_filters %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        <div class="field-wrapper{% if field.errors %} has-error{% endif %} {{field.auto_id}}">
            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}" class="control-label{% if field.field.required %} required{% endif %}">
                        {{ field.label|safe }}
                    </label>
                {% endif %}
            {% endblock %}

            {% block controls %}
                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block">{{ error }}</span>
                        {% endfor %}
                    {% endblock %}
                    
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field class+="form-cntrl" %}
                            </label>
                        {% elif field.widget_type == 'AdvancedSelect' %}
                            {% render_field field class+="form-cntrl hidden" size=5 %}

                            <ul class="prd-opts">
                            {% for opt, prc in field.subwidgets|zip:prod_info.session %}
                                {% if not opt.data.attrs.disabled %}
                                <li class="prd-opt">
                                    <a href="#" opt="{{opt.data.value}}" class="prd-opt-link">{{opt.data.label}}
                                        {% if prc.price.is_tax_known %}
                                            <span class="prd-opt-prc">{{ prc.price.incl_tax|currency:prc.price.currency }}</span>
                                        {% else %}
                                            <span class="prd-opt-prc">{{ prc.price.excl_tax|currency }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% elif field.widget_type == "DatePickerInput" %}
                            {% render_field field class+="form-cntrl" data-locale="ru" %}
                        {% elif field.html_name == "phone_number" %}
                            {% render_field field class+="form-cntrl" type="tel" %}
                        {% else %}
                            {% if nolabel %}
                            {% render_field field class+="form-cntrl" placeholder=field.label %}
                            {% else %}
                            {% render_field field class+="form-cntrl" %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}

                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
    {% endblock %}
{% endif %}
