{% load display_tags %}

{% if paginator.num_pages > 1 %}
    <ul class="pager-prod">
        {% if page_obj.has_previous %}
            <li class="previous-page"><a class="button" href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}">Назад</a></li>
        {% else %}
            <li class="previous-page invisible"><a class="button" href="#">Назад</a></li>
        {% endif %}
        <li class="current">
            Страница {{ page_obj.number }} из {{ paginator.num_pages }}
        </li>
        {% if page_obj.has_next %}
            <li class="next-page"><a class="button" href="?{% get_parameters page %}page={{ page_obj.next_page_number }}">Вперед</a></li>
        {% else %}
            <li class="next-page invisible"><a class="button" href="#">Вперед</a></li>
        {% endif %}
    </ul>
{% endif %}
