<p>
{% if quantity == 1 %}
    Товар <strong>{{ product.get_title }}</strong> был добавлен в корзину. 
{% else %}
    Товар <strong>{{ product.get_title }}</strong> был добавлен в корзину в количестве <strong>{{ quantity }}</strong> шт.
{% endif %}
</p>
<p>
<a href="{% url 'basket:summary' %}" class="button-smp">Перейти в корзину</a>
<a href="{% url 'checkout:index' %}" class="button-smp">Оформить</a>
</p>