{% extends "layout.html" %}

{% load product_tags %}
{% load static %}

{% block title %}
{{ offer.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="brdcrumb">
    <li>
        <a href="{% url 'offer:list' %}">Акции</a>
    </li>
    <li class="active">{{ offer.name }}</li>
</ul>
{% endblock %}

{% block content_wrapper %}
    <div class="offer-detail">
    {% if not offer.is_available %}
        <div class="alert alert-danger">Эта акция больше не доступна</div>
    {% endif %}

    {% if upsell_message %}
        <div class="offer-descr clearfix">
        {% if offer.description %}
            <div class="col-sm-5 col-cust offer-descr">
                <h2 class="h3">Описание акции</h3>
                <p>{{ offer.description|safe }}</p>
            </div>
        {% endif %}
            <div class="col-sm-7 col-cust offer-image-wrapper">
                <img class="offer-image" src="{% get_media_prefix %}{{ offer.image }}" alt="{{offer.name}}">
            </div>
        </div>
            <div class="col-sm-12 col-cust offer-cond">
                <div class="well">
                    <h2 class="h4">Как получить акцию</h2>
                    <p>{{ upsell_message }}</p>
                </div>
            </div>
    {% endif %}

    {% if products %}
        <section class="products">
            <ul class="clearfix">
                {% for product in products %}
                <li class="prd-item col-md-3 col-xs-6">{% render_product product %}</li>
                {% endfor %}
            </ul>
            {% include "partials/pagination.html" %}
        </section>
    {% else %}
    <p class="nonefound">В акции не участвует ни один продукт</p>
    {% endif %}
    </div>
{% endblock content_wrapper %}
