{% extends "layout.html" %}

{% load product_tags %}
{% load static %}

{% block title %}
Предложения | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="brdcrumb">
    <li class="active">Акции</li>
</ul>
{% endblock %}

{% block content_wrapper %}
    <div class="offer-list">
    {% if not offers %}
        <p>На сайте не действуют акции в данный момент.</p>
    {% else %}
        {% get_media_prefix as MEDIA_PREFIX %}
        {% for offer in offers %}
        <a class="offer-block" href="{% url 'offer:detail' slug=offer.slug %}">
            <img class="offer-image" src="{{MEDIA_PREFIX}}{{offer.image}}" title="{{ offer.name }}" alt="{{offer.name}}">
        </a>
        {% endfor %}
    {% endif %}
    </div>
{% endblock content_wrapper %}
