{% load currency_filters %}
{% load shipping_tags %}
{% load my_util_tags %}

<table class="basket_table">
    <tbody>
        {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
            {% block discount_totals %}
                <tr>
                    <td>{{basket.num_lines}} {{ basket.num_lines|rupluralize:"товар,товара,товаров" }} на сумму </td>
                    <td class="align-right">
                        {% if basket.is_tax_known and not show_tax_separately %}
                            {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                        {% else %}
                            {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                        {% endif %}
                    </td>
                </tr>
                {% if offer_discounts or voucher_discounts %}
                    {# Basket total will be discounted so we show a before and after version #}

                    {% for discount in offer_discounts %}
                        <tr>
                            <td class="basket-discount">{{ discount.name }}
                                {% if discount.description %}
                                    <br/><small>{{ discount.description }}</small>
                                {% endif %}
                            </td>
                            <td class="align-right">-{{ discount.discount|currency:basket.currency }}</td>
                        </tr>
                    {% endfor %}

                    {% if voucher_discounts %}
                        {% for discount in voucher_discounts %}
                            <tr>
                                <td>
                                    Купон {{ discount.voucher.name }}
                                    <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value=" " class="btn-x" />
                                    </form>
                                </td>
                                <td class="align-right voucher-prc">-{{ discount.discount|currency:basket.currency }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endblock %}
        {% endwith %}

        {% block shipping_totals %}
        {% if not noshipping %}
            {% if not shipping_method.is_discounted %}
                <tr>
                    <td class="total">
                        {{ shipping_method.name }}
                    </td>
                    <td class="total align-right">
                        {% if not show_tax_separately and shipping_charge.is_tax_known %}
                            {{ shipping_charge.incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ shipping_charge.excl_tax|currency:basket.currency }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {% shipping_charge_discount shipping_method basket as shipping_discount %}
                {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                {# As shipping is discounted, we break it down into its original charge and a discount #}
                <tr>
                    <td class="total">Способ доставки</td>
                    <td class="total align-right">{{ shipping_method.name }}</td>
                </tr>
                <tr>
                    <td>Доставка без скидки</td>
                    <td class="align-right">
                        {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                            {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                        {% endif %}
                    </td>
                </tr>
                {# This section needs adjustment to when taxes are shown separately #}
                <tr>
                    <td class="basket-discount">Скидка на доставку {{ shipping_method.discount_name }}</td>
                    <td class="align-right">-{{ shipping_discount|currency:basket.currency }}</td>
                </tr>
                <tr>
                    <td class="total">
                        Доставка со скидкой
                    </td>
                    <td class="total align-right">
                        {% if not show_tax_separately and shipping_charge.is_tax_known %}
                            {{ shipping_charge.incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ shipping_charge.excl_tax|currency:basket.currency }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        {% endblock %}

        {% block tax_totals %}
            {% if show_tax_separately %}
                <tr>
                    <td class="total">Корзина</td>
                    <td class="total align-right">
                        {{ basket.total_tax|currency:basket.currency }}
                    </td>
                </tr>
                <tr>
                    <td class="total">Доставка</td>
                    <td class="total align-right">
                        {{ shipping_charge.tax|currency:basket.currency }}
                    </td>
                </tr>
            {% endif %}
        {% endblock %}

        {% block post_order_action_totals %}
            {% if basket.post_order_actions %}
                {% for discount in basket.post_order_actions %}
                    <tr>
                        <td class="total" colspan="2">
                            <span>{{ discount.name }}</span><br/>
                            <p>{{ discount.description }}</p>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block order_total %}
            <tr>
                <td class="total"><h3>Итоговая цена</h3></td>
                <td class="total align-right">
                    <h3 class="price_color">
                        {% if order_total.is_tax_known %}
                            {{ order_total.incl_tax|currency:basket.currency }}
                        {% endif %}
                    </h3>
                </td>
            </tr>
        {% endblock %}
        <tr>
            <td class="checkout-link" colspan=2>
            {% if checkout_total %}
                {% with actions=order.post_order_actions %}
                    {% if actions %}
                        <tr>
                            <th colspan="2">&nbsp;</th>
                        </tr>
                        <tr>
                            <th colspan="2"><h3>Действия после заказа</h3></th>
                        </tr>
                        {% for action in order.post_order_actions %}
                            <tr>
                                <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% else %}
                {% if checkout %}
                    <a data-loading-text="Подтверждение..." class="button" href="{% url 'checkout:payment-details' %}"><span>Подтвердить заказ</span></a>
                {% else %}
                    <a href="{% url 'checkout:index' %}"><span>Подтвердить заказ</span></a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>
