{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load my_tags %}

{% if basket_warnings %}
    <h5>Важное примечание о товарах в вашей корзине</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="upsell_messages">
        <h3>Свежие акции</h3>
        {% for upsell in upsell_messages %}
            {% with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} чтобы воспользоваться акцией <a href="{{ url }}">{{ offer_name }}</a></div>
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
    {% block basket_form_main %}
        <form action="." method="post" class="basket_summary basket_row" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}

            <div class="basket-lbls hidden-xs hidden-sm clearfix">
                <div class="col-sm-5 col-cust basket-lbl">Товар</div>
                <div class="col-sm-3 col-cust basket-lbl quant-lbl">Количество</div>
                <div class="col-sm-1 col-cust col-sm-offset-3 align-right basket-lbl">Цена</div>
            </div>
            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
                    {% purchase_info_for_line request line as session %}

                    <div class="basket-items clearfix" id="{{form.quantity.id_for_label}}-id" line-price="{{line.unit_price_incl_tax}}">
                        {{ form.id }}
                        <div class="col-sm-1 col-xs-2 col-cust basket-prod-img">
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                    </a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                        <div class="col-sm-4 col-xs-3 col-cust basket-prod-descr">
                            <h4><a href="{{ product.get_absolute_url }}">{{ line.description }}</a></h4>
                            <p class="basket-prod-attr">{% get_attributes_of_line line.product %}</p>
                            <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                        </div>
                        <div class="col-sm-2 col-xs-3 col-cust basket-prod-quant">
                            <div class="checkout-quantity">
                                <div class="input-group {% if form.errors %}error{% endif %}">
                                    {% render_field form.quantity class+="hidden quantity_inp" %}
                                    <div class="prd-solo-cntrls">
                                        <a class="cnt-minus cnt-bask" quan-id="{{form.quantity.id_for_label}}" href="#"></a>
                                        <span class="cnt" quan-max="{{session.availability.num_available}}" id="{{form.quantity.id_for_label}}-cnt">{{form.quantity.initial}}</span>
                                        <a class="cnt-plus cnt-bask" quan-id="{{form.quantity.id_for_label}}" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}

                            {% endfor %}
                        </div>
                        <div class="col-sm-2 col-xs-4 col-sm-offset-3 col-cust basket-prod-price">
                            <p class="price_color" title="{{ line.unit_price_incl_tax|currency:line.price_currency }}">{{ line.line_price_incl_tax|currency:line.price_currency }}</p>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </form>
    {% endblock %}

    <hr class="bakset_hr">
    <div id="content_inner">
        {% block vouchers %}
        {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
        {% if voucher_form %}
        <div id="voucher_form_container">
            <form class="clearfix" id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=voucher_form nolabel=True %}
                <button type="submit" class="voucher-btn" data-loading-text="Применение...">Применить</button>
            </form>
        </div>
        {% endif %}
        {% endblock vouchers %}

        {% block baskettotals %}
        <div id="basket-totals-wrapper">
            <div id="basket_totals">
            {% include 'basket/partials/basket_totals.html' with noshipping=True %}
            </div>
            <div class="basket-totals-modal"></div>
        </div>
        {% endblock baskettotals %}
    </div>

{% else %}
    {% block emptybasket %}
        <p>
            Ваша корзина пуста.
            <a href="{{ homepage_url }}">Продолжить покупки</a>
        </p>
    {% endblock %}
{% endif %}

