{% extends "layout_2_col.html" %}


{% block title %}
    {{ page_title }} | Профиль | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block column_left %}
    <button class="button-smp visible-xs visible-sm" id="dropdownTab" onclick="$('.sidebar').toggleClass('open');"><div class="btn-cont"></div></button>
    <ul id="nav_tabs" class="nav">
        {% block standard_tabs %}
            <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                <a href="{% url 'customer:profile-view' %}">Профиль</a>
            </li>
            <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                <a href="{% url 'customer:order-list' %}">История заказов</a>
            </li>
            <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                <a href="{% url 'customer:address-list' %}">Адресная книга</a>
            </li>
            <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                <a href="{% url 'customer:email-list' %}">История сообщений</a>
            </li>
            <li{% if active_tab == 'alerts' %} class="active"{% endif %}>
                <a href="{% url 'customer:alerts-list' %}">Оповещения о товарах</a>
            </li>
            <li{% if active_tab == 'notifications' %} class="active"{% endif %}>
                <a href="{% url 'customer:notifications-inbox' %}">Уведомления</a>
            </li>
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    {% block tabcontent %}{% endblock tabcontent %}
{% endblock content %}


{% block onbodyload %}
{{ block.super }}
var el_loc = $('#nav_tabs li.active a');
$(".btn-cont").html(el_loc.text() + '<span></span>');
console.log(el_loc);
console.log($('.btn-cont'));
el_loc.addClass('hidden-xs hidden-sm');
{% endblock onbodyload %}