$link-color: #414141;
$pink-color: #FF6EBE;
$gray-color: #A7A7A7;
$lgray-color: #E5E5E5;
$page-width: 1170px;
$width-of-ms: 250px;
$padding-img: 0;
$size-img: 23px;

@mixin get-ico($i) {
  background: no-repeat;
  background-image: url("../img/ico/" + $i + ".svg");
  width: $size-img;
  height: $size-img;
}

@mixin get-ico-sm($i, $size-img-w, $size-img-h) {
  background: no-repeat;
  background-image: url("../img/ico/" + $i + ".svg");
  width: $size-img-w +px;
  height: $size-img-h +px;
  background-position: 50% 50%;
  vertical-align: middle;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/regular.woff');
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bold.woff');
}

body {
  position: relative;
  font-family: "PT Sans";
}

a, .btn, .btn-default {
  outline: none;
  border-radius: 0;

  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
    outline: none;
  }
}

.product-pod-wrapper {
  height: 270px;
  width: 250px;
  margin: 0 auto;
  position: relative;

  .prod-pod-descr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

a {
  &:hover {
    color: $pink-color;
  }

  &:focus {
    color: $link-color;
  }
}

.btn {
  color: #fff;
}

.btn-default {
  color: $link-color;
}

.alert {
  border-radius: 0;
}

.alert-success {
	.button-smp {
		color: #3c763d;
		border-color: #3c763d;

		&:hover {
			color: #fff;
			border-color: #3c763d;
			background-color: #3c763d;
		}
	}
}

.check-mark-up {
  display: inline-block;
  vertical-align: middle;
  @include get-ico-sm(5, 13, 23);
}
.check-mark-down {
  display: inline-block;
  vertical-align: middle;
  @include get-ico-sm(10, 13, 23);
}

.disabled {
  pointer-events: none;
  cursor: wait;
}

a {
  color: $link-color;

  &:hover {
    color: $pink-color;
  }
}

.image_container {
  width: 100%;
  max-width: 180px;
  height: 180px;
  margin: 0 auto;

  img {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }
}

.form-control, .form-cntrl, textarea, .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-transition: none;
  -o-transition: none;
  transition: none;
  outline: none;
  border-color: $lgray-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

textarea {
  width: 100%;
  resize: none;
}

label {
  font-weight: 400;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.thumbnail, .jumbotron {
  border-radius: 0;
  background: #fff;
}

.align-right {
  text-align: right;
}

.fluid {
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
}


.well {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  border-color: $lgray-color;
  background: #fff;
}


.input-group-addon {
  background-color: #fff;
  border-radius: 0;
  border-color: $link-color;

  &:last-child {
    border-left: 1px solid $link-color;
  }
}

.navbar-toggle {
  padding: 10px 5px;
  margin: 0;
  margin-right: 20px;

  .icon-bar {
    width: 25px;
    height: 4px;
    background: $link-color;
  }
}

.btn.disabled {
  opacity: 1;
  color: #e5e5e5 !important;
} 

.scroll {
  height: 100%;
  width: 35px;
  position: absolute;
  top: 0;
  padding: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  border: none;
  box-shadow: none !important;  
  background: #fff;   
}

.scroll-left {
  left: 0;
  border-right: 1px solid #e5e5e5;
  
  span {
    @include get-ico(4);
  }
}

.scroll-right {
  right: 0;
  padding-left: 8px;
  border-left: 1px solid #e5e5e5;
 
  span {
    @include get-ico(3);
  }
}

.col-cust {
  padding: 0;
}

.hr-div {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  border: 0.1px solid #e7e7e7;
  display: flex;
  justify-content: center;

  span {
    margin-top: -10px;
    padding: 0 25px;
    background: #fff;
    color: $link-color;
    position: relative;
  }
}


.prd-solo-cntrls {
  float: right;
  width: 105px;
  position: relative;
  text-align: center;

  a {
    color: $link-color;
    font-size: 32px;
    line-height: 1.1;
  }

  .cnt-minus {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    @include get-ico-sm(17, 13, 23);
  }
  
  .cnt-plus {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    @include get-ico-sm(18, 13, 23);
  }

  .error-cnt {
    color: red !important;
  }

  .cnt {
    display: block;
    color: $link-color;
    font-size: 16px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .cnt-bask {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

.table-striped {

  > tbody {

    > tr {
      &:nth-of-type(odd) {
        background-color: #fff;
      }
      td {
        .button {
          display: block;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }

  } 
}

.nav-tabs {
  > li.active {
    > a {
      border-radius: 0;
    }
  }
  > li {
    > a {
      border-radius: 0;

      &:hover {
        background-color: #fff;
      }

      &:focus {
        background-color: #fff;
      }
    }
  }
}

.btn-group {

  > .btn {

    &:first-child {
      margin-right: 25px;
    }

    + .dropdown-toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.dropdrown-menu {
  border-radius: 0;
}

.btn-sm {
  border-radius: 0;
}

.table-bordered {

  > thead {
    > tr {
      > td {
        border-color: $lgray-color;
      }
      > th {
        border-bottom-width: 1px;
      }
    }
  }
}

i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#messages {
  margin-bottom: 10px;
}

.main-wrapper {
  .brdcrumb {
    margin-top: 15px;
    height: 1px;
    border: 0.1px solid #e7e7e7;
    display: flex;
    justify-content: center;

    li {
      margin-top: -10px;
      padding: 0 25px;
      background: #fff;
      color: $gray-color;
      position: relative;
      display: block;

      a {
        color: $gray-color;
      }

      &:after {
        content: "";
        @include get-ico-sm(19, 13, 13);
        position: absolute;
        right: -5px;
        top: 4px;
        z-index: 1;
      }
    }

    .active {

      &:after {
        display: none;
      }
    }
  }    
}

.main-wrapper {
  min-height: 100vh;

  hr {
    width: 100%;
    border-color: $lgray-color;
  }  

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

.button {
  background: $pink-color;
  border: 1px solid $pink-color;
  padding: 8px 20px;
  color: #fff;

  &:hover {
    background: #fff;
    color: $pink-color;
  }
}

.button-smp {
  border: 1px solid $gray-color;
  padding: 8px 20px;
  background: #fff;
  color: $link-color;

  &:hover {
    border-color: $pink-color;
    color: $pink-color;
  }
}

input.form-cntrl {
  width: 100%;
  font-size: 14px;
  border: 1px solid $lgray-color;
  border-radius: 0;
  padding: 5px 10px;

  &::placeholder {
    color: $gray-color;
  }
}

.field-wrapper {
  margin-bottom: 20px;
}

input, button {
  outline: none;
}

.modal {

  .modal-dialog {

    .modal-content {
      padding: 35px 70px;
      border-radius: 0;

      button.close {
        position: absolute;
        right: 10px;
        top: 5px;

        span {
          display: block;
          @include get-ico(10);
        }
      }

      .modal-body {
        padding: 15px 0;

        .modal-int {
          .modal-lbl {
            float: left;
            font-size: 16px;
            color: $link-color;
          }

          .using {
            pointer-events: none;
          }

          #modal-swap {
            float: right;
            color: $pink-color;

            &:hover {
              color: $link-color;
            }
          }
        }

        form {
          button {
            width: 50%;
            float: left;
          }

          .login_forget {
            width: 50%;
            display: inline-block;
            text-align: center;
            color: $pink-color;
            padding: 8px 20px;

            &:hover {
              color: $link-color;
            }
          }
        }

        #register_form {
          button {
            width: 100%;
          }
        }
      }

      .modal-footer {
        padding: 15px 0;

        .footer-lbl {
          font-size: 16px;
          text-align: left;
          color: $link-color;
          margin: 0;
          margin-bottom: 15px;
        }

        a {
          display: block;
          float: left;

          img {
            height: 42px;
            width: 42px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.dash_link {
  position: fixed;
  right: 0;
  top: 0;
}

header {
  h1 {
    margin: 0;
  }

  #nav_links {
    padding: 0;
    overflow: hidden;
  }

  .nav-class {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active {
      border-bottom: 2px solid $link-color;
    }
  }

  .nav-1 {
    margin-bottom: 5px;
    
    ul {
      display: flex;
      justify-content: flex-end;
      
      li {
        margin-left: 40px;
      }
    }

    .nav-brand {
      img {
        width: 105px;
        height: 35px;
      }
    }

    .nav-1-tel {
      font-size: 16px;
    }

    .nav-1-srch {
      margin-left: 85px;

      .form-group {
        margin-bottom: 0;

        .twitter-typeahead {
          &:before {
            content: " ";
            display: block;
            position: absolute;
            left: 10px;
            top: 15px;
            z-index: 1;
            @include get-ico-sm(12, 13, 13);
          }
        }
      }

      .tt-hint {
        color: #adadad;
      }

      input {
        width: 450px;
        height: 45px;
        padding: 6px 35px;
        padding-right: 20px;
        font-size: 16px;
        color: $link-color;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-top: none;
        border-color: $lgray-color;
        box-shadow: none;
        
        &:hover, &:focus {
          border-color: $lgray-color;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }

      .tt-menu {
        width: 100%;
        background: #fff;
        border: 1px solid $lgray-color;
        border-top: none;
        margin-top: -1px;

        .tt-dataset {
          .tt-suggestion {
            .suggestion-link {
              display: block;
              padding: 10px 12px;
              padding-left: 35px;
              font-size: 16px;

              &:hover {
                background: #e0e0e0;
                color: $link-color;
              }       

              span {
                color: $gray-color;
                margin-left: 10px;

                .tt-highlight {
                  font-weight: 400;
                }
              }       
            }
          }
        }
      }
    }
    .nav-1-acc {
      width: 210px;
    }
  }

  .nav-2 {

    .nav-2-nav {
      background: #fff;
      white-space: nowrap;

      li {
        margin-right: 30px;
        display: inline-block;

        .nav-2-link {
          font-size: 16px;
          display: block;
        }
      }

      li:last-child {
        margin-right: 20px;
      }
    }
  }

  .nav-3 {

    .nav-3-nav {
      background: #fff;
      white-space: nowrap;

      li {
        display: inline-block;
        margin-right: 40px;

        .nav-3-link {
          font-size: 18px;
        }
        
        .link-sales {
          color: $pink-color;
        }
      }
      
      li:last-child {
        margin-right: 20px;
      }
    }
  }

  .checkout-brdcrumb {
    margin-top: 40px;

    .checkout-lbl {
      font-size: 18px;
      color: $link-color;
    }
  }
}

.page {
  margin-top: 20px;
  margin-bottom: 50px;

  .basket-brd {
    margin-bottom: 30px;
    li.active {
      font-size: 18px;
      color: #191919;
    }
  }

  .basket-wrapper {
    .basket_row {
      margin-bottom: 50px;
    }

    .basket-lbls {
      margin-bottom: 30px;
    }
    .basket-lbl {
      color: $gray-color;
      font-size: 16px;
    }

    .quant-lbl {
      padding-left: 60px;
    }

    .basket-items {
      margin: 10px 0 20px;

      .basket-prod-img {
        a {
          img {
            height: 100px;
            width: 100px;
            object-fit: none;
          }
        }
      }

      .basket-prod-descr {
        padding-left: 20px;

        h4 {
          font-size: 16px;
          color: #191919;
          margin: 0;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
        }

        .basket-prod-attr {
          color: $gray-color;
          font-size: 14px;
        }

        .availability {

        }

      }

      .basket-prod-quant {
        padding-left: 50px;
        padding-top: 20px;
      }

      .basket-prod-price {
        padding-top: 20px;
        text-align: right;
        
        .price_color {
          font-size: 16px;
          color: #191919;
          white-space: nowrap;
        }
      }
    }

    #voucher_form_container {
      #voucher_form {
        width: 500px;

        .field-wrapper {
          width: 350px;
          float: left;

          .form-cntrl {
            width: 350px;
            border: 1px solid $lgray-color;
            outline: none;
            padding: 5px 10px;

            &::placeholder {
              color: $gray-color;
            }
          }
        }

        .voucher-btn {
          width: 150px;
          height: 32px;
          border: 1px solid $lgray-color;
          border-left: none;
          background: #fff;
          color: $gray-color;
          font-size: 14px;
          outline: none;

          &:hover {
          	color: $pink-color;
          }
        }
      }

      margin-bottom: 20px;
    }

    #basket_totals {
      width: 500px;
      .basket_table {
        width: 500px;
        border: 1px solid $lgray-color;

        tr {
          td {
            padding: 25px;
            padding-top: 0;
            font-size: 16px;
            color: #191919;
          }

          h3 {
            margin: 0;
            font-size: 22px;
          }

          .voucher-prc {
            color: $pink-color;
          }

          form {
            display: inline;

            .btn-x {
              background: #fff;
              border: none;
              outline: none;

              @include get-ico(10);
            }
          }

          .checkout-link {
            a {
              display: block;
              height: 50px;
              padding: 15px;
              background: $pink-color;
              color: #fff;
              text-align: center;

              &:hover {
                border: 1px solid $pink-color;
                padding: 14px;
                background: #fff;
                color: $pink-color;
              }
            }
          }
        }

        tr:first-child {
          td {
            padding-top: 25px;
          }
        }

        tr:last-child {
          td {
            padding: 0;
          }
        }

        .basket-discount + .align-right {
          color: $pink-color;
        }
      }
    }
    
    #basket-totals-wrapper {
      width: 500px;
      position: relative;

      .basket-totals-modal {
        width: 500px;
        display:    none;
        position:   absolute;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('../img/ajax-loader.gif') 
                    50% 50% 
                    no-repeat;
      }
    }

    #basket-totals-wrapper.loading {
      .basket-totals-modal {
        overflow: hidden;
        display: block;
      }
    }
  }

  .prd-item {
    margin-bottom: 70px;
    text-align: center;
    height: 260px;

    .product_pod {
      margin: 0 auto;

      .prd-title {
        font-size: 14px;
        display: block;

        a {
          text-transform: capitalize;
        }
        p {
          color: $gray-color;
        }
      }

      .prod-cat-lbl {
        color: $gray-color;
      }

      .product_price {
        .price {
          color: #191919;
        }
      }
    }
  }

  .pager-prod {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .current {
      margin: 0 20px;
    }

    .next-page, .previous-page {
      a {
        border-radius: 5px;
        color: #fff;

        &:hover {
          color: $pink-color;
        }
      }
    }
  }

  .content {
    .dropdown-btns {
      width: 85%;
      margin: 0 auto;

      button {
        width: 50%;
        position: relative;
        white-space: nowrap;
        border-color: $link-color;

        span {
          display: inline-block;
          vertical-align: middle;
          @include get-ico-sm(9, 10, 10);
        }

        &:first-child {
          border-right: none;
          float: left;
        }
      }
      
      #dropdownCategories.active {
        border-right: none;
      }

      #dropdownFilters.notactive {
        border-left: 1px solid $link-color;
        width: 50%;
      }
      
      #dropdownFilters.active {
        border-left: none;
        width: calc(50% - 1px);
      }

      #dropdownCategories.notactive {
        border-right: 1px solid $link-color;
        width: calc(50% + 1px);
      }

      .active {
        border-bottom: none;
        
        span {
          @include get-ico-sm(8, 10, 10);
        } 
      }
    }

    .side-categories {

      .cat-list {

        .cat-list-item {
          margin-bottom: 5px;

          .cat-link {
            font-size: 14px;

            &:hover {
              color: $pink-color;
            }
          }

          .cat-child-list {
            margin-left: 25px;
            margin-top: 10px;
          }

          .prd-cnt {
            font-size: 12px;
            color: $gray-color;
            display: inline;
          }
        }
      }
    }

    .products {

      .prd-sort {
        border-top: none;
        margin-bottom: 30px;
        
        .brand-sort {

          form {
            width: 100%;
            
            select {
              display: none;
            }

            .ms-parent {
              margin-right: 15px;
              margin-bottom: 15px;

              .ms-choice {
                border: 1px solid $link-color;
                border-radius: 0;
                height: 36px;

                > span {
                  top: 5px;
                }

                > span.placeholder {
                  color: $link-color;
                }

                > div {
                  top: 12px;
                  right: 10px;
                  @include get-ico-sm(9, 10, 10);
                }

                > div.open {
                  @include get-ico-sm(8, 10, 10);
                }
              }

              .ms-drop {
                border: none;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                .ms-search {
                  border-left: 1px solid $link-color;
                  border-right: 1px solid $link-color;
                  padding: 4px 0;

                  input {
                    position: relative;
                    border: none;
                    padding: 5px;
                    padding-left: 30px;
                    background: none;
                  }

                  &:before {
                    position: absolute;
                    left: 5px;
                    top: 9px;
                    display: block;
                    content: '';
                    @include get-ico-sm(12, 13, 13);
                  }
                }
              
                ul {
                  border-left: 1px solid $link-color;
                  border-right: 1px solid $link-color;

                  li {
                    padding: 0 10px;
                  }
                }

                .select-subm {
                  width: 100%;
                  border-color: $link-color;
                  color: $link-color;

                  &:hover {
                    border-color: $pink-color;
                    color: $pink-color;
                  }
                }

                input[type="checkbox"] {
                  vertical-align: sub;
                  margin-right: 5px;
                }
              }
            }
            
            .filter-btn {
              width: 100%;
              border: none;
              border-top: 1px solid $link-color;

              &:hover {
                border-color: $link-color;
                color: $pink-color;
              }
            }
            
            .drop-btn {
              background: $link-color;
              color: #fff;

              span {
                display: inline-block;
                vertical-align: middle;
                @include get-ico(13);
              }

              &:hover {
                color: #fff;
              }
            }

            .sort {
              display: block;

              li {
                margin-right: 10px;
              }

              .sort-lbl {
                float: left;
              }

              .sort-cont {
                float: left;
                
                .sort-i {
                  float: left;
                  cursor: pointer;

                  span {
                    display: block;
                    float: right;
  					margin-top: 7px;
                    margin-left: 5px;
                  }

                  &:hover {
                    color: $pink-color;
                  }
                }
                
                .sort-active.desc {
                  span {
                    @include get-ico-sm(7, 10, 10);
                  }
                }

                .sort-active.asc {
                  span {
                    @include get-ico-sm(6, 10, 10);
                  }
                }

                .sort-active {
                  color: $pink-color;
                }
              }
            }
          }
        }
      }
    }

    .promotions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .promo {
        margin-bottom: 10px;

        a {
          img {
            max-width: 100%;
            max-height: 400px;
          }
        }

        .promo-product-list {
          text-align: center;
          padding: 30px;

          .sub-header {
            h3 {
              margin-top: 0;
            }
          }

          .prod-cat-lbl {
            color: $gray-color;
          }
        }
      }
    }

    .popular {
      position: relative;
      width: 100%;
      height: 260px;
      margin-top: 50px;
      border: 1px solid $lgray-color;

      .pop-leg {
        display: block;
        width: 120px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: -13px;
        margin-left: -60px;
        text-align: center;
        font-size: 16px;
      }

      .pop-content {
        display: block;
        margin: 0 auto;
        justify-content: space-between;
        width: calc(100% - 70px);
        height: 100%;
        overflow: hidden;
        white-space: nowrap;

        .pop-item {
          height: 100%;
          padding: 5px;
          display: inline-block;
          margin-right: 35px;
          margin-left: 35px;

          .pop-item-content {
            margin: 0 auto;
            text-align: center;
            width: 190px;

            a {
              img {
                width: 150px;
                height: 200px;
                object-fit: contain;
              }
            }

            .pop-item-title {
              margin-top: 0px;
              font-size: 16px;
              color: #191919;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  .content-search {
    .products {
      margin-top: 40px;
    }
  }

  .product_page {

    #product_gallery {
      width: 380px;

      .prd-photo {
        border: 1px solid $lgray-color;
        position: relative;

        .carousel-inner {

          .item {
            height: 450px;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              max-width: 310px;
              max-height: 300px;
              object-fit: contain;
            }
          }
        }

        .car-btn {
          height: 100%;
          width: 30px;
          position: absolute;
          background: #fff;
          top: 0;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 0;
        }

        .car-left {
          left: 0;
          border-right: 1px solid $lgray-color;

          span {
            margin: 0 auto;
            @include get-ico(4);
          }
        }

        .car-right {
          right: 0;
          padding-left: 5px;
          border-left: 1px solid $lgray-color;

          span {
            margin: 0 auto;
            @include get-ico(3);
          }
        }

      }


      .carousel-indicators{
        position: relative;
        left: unset;
        width: unset;
        bottom: unset !important;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        li {
          list-style: none;
          display: inline-block;
          margin-right: 10px;
          padding: 2px 5px;
          margin: 0;
          border-radius: unset;
          border: unset;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
          width: unset;
          height: unset;
          text-indent: unset;
        }

        .active {
          border-color: $lgray-color;
        }
      }

    }

    .product_main {
      margin-bottom: 50px;

      h1 {
        margin: 0;
      }

      .prd-info {

        .prd-title {
          font-size: 24px;
          color: #191919;
          margin-bottom: 5px;
        }

        .prd-cat {
          font-size: 16px;
          color: $gray-color;
          margin: 0;
        }

        .price {
          font-size: 16px;
          color: #191919;
          margin: 0;
        }

        .prd-info-hr {
          margin-top: 50px;
          margin-bottom: 25px;
        }

        .prd-table {
          margin-bottom: 15px;

          tr {
            font-size: 14px;

            th {
              color: $gray-color;
              font-weight: 400;
              padding-right: 35px;
            }

            tr {
              color: $link-color;
            }
          }
        }

        .prd-descr {

          p {
            font-size: 14px;
            color: $link-color;
            word-break: break-word;
          }
        }
      }

      .prd-buy {
        position: relative;

        .staff-link {
          position: absolute;
          top: -25px;
          right: 15px;
        }

        .basket-border {
          border: 1px solid $lgray-color;
          border-bottom: none;
        }

        #add_to_basket_form {

          .field-wrapper {
            margin: 0;
          }

          label {
            margin: 0 auto;
            margin-top: -11px;
            width: fit-content;
            display: block;
            color: $link-color;
            font-size: 16px;
            font-weight: 100;
            background: #fff;
            padding: 2px 20px;
          }

          .prd-opts {
            min-height: 150px;
            overflow-y: auto;

            .prd-opt {

              .prd-opt-link {
                display: block;
                padding: 6px 15px;

                .prd-opt-prc {
                  float: right;
                  font-weight: 700;
                }
              }

              .opt-selected {
                color: $pink-color !important;
              }
            }
          }

          .prd-solo {
            padding: 15px;
            margin-bottom: 20px;

            .solo-price {
              font-size: 24px;
              font-weight: 700;
              margin-top: 2px;
            }
          }
        }

        .btn-add-to-basket {
          width: 100%;
          border: 1px solid $lgray-color;
          background: #fff;
          padding: 12px;
          outline: none;
          color: $gray-color;
          pointer-events: none;
        }
        .active-btn {
          background-color: $pink-color;
          border-color: $pink-color;
          color: #fff;
          pointer-events: unset;
          &:hover {
            background-color: #fff;
            color: $pink-color;
          }
        }
      }
    }

    .prds-block {

      ul {
        li {
          .product_pod {
            margin: 0 auto;
            text-align: center;

            .prod-cat-lbl {
              color: $gray-color;
            }
          }
        }
      }
    }
  }

  .profile-page {
    .sidebar {
      .nav {
        border: 1px solid $lgray-color;
        padding: 30px 15px;

        li {
          a {
            padding: 5px 10px;

          }
          a {
            &:hover, &:active, &:visited, &:focus {
              background: none;
            } 
          }
          
        }

        li.active {
          a {
            color: $pink-color;
          }
        }
      }
    }

    .rightbar {
      padding-left: 50px;

      form {
        width: 350px;
      }

      .profile-table {
        margin-bottom: 20px;

        td:first-child {
          font-size: 16px;
          font-weight: 400;
          padding-right: 40px;
          color: $gray-color;
        }

        td {
          font-size: 16px;
        }
      }

      .well {
        .control-label {
          float: left;
          padding-right: 10px;
        }

        span {

        }
      }

      .button-smp {
        margin-right: 10px;
      }
    }
  }

  .offer-list {
    .offer-block {
      margin-bottom: 40px;
      .offer-image {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
      }
    }
  }

  .offer-detail {

    .offer-descr {
      margin-bottom: 20px;

      .offer-image-wrapper {
        .offer-image {
          width: 100%;
          max-height: 400px;
          object-fit: contain;
        }
      }
    }
    
    .offer-cond {
      .h4 {
        color: $pink-color;
      }
    }
  }

  .checkout {
    #messages {
      margin-top: 20px;
    }

    .nav-checkout {
      border: 1px solid $lgray-color;

      .nav-checkout-list {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        position: relative;

        .progress-nav {
          position: absolute;
          left: -1px;
          top: -1px;
          height: 52px;
          border: 1px solid $pink-color;
          border-right: none;
        }

        .nav-checkout-item {

          span {
            font-size: 16px;
            color: $gray-color;
          }
        }

        .active, .visited {
          span {
            color: $link-color;
          }
        }

        .step-1 {
          width: 15%;
        }
        .step-2 {
          width: 35%;
        }
        .step-3 {
          width: 52%;
        }
        .step-4 {
          width: 67%;
        }
        .step-5 {
          width: $page-width;
          border-right: 1px solid $pink-color;
        }
      }
    }

    .basket-title {
      color: $gray-color;
      font-size: 16px;

      .quant-title {
        text-align: center;
        padding-left: 60px;
      }
    }

    .basket-items {
      .basket-prod-img {
        text-align: center;
        a {
          img {
            width: 90%;
            height: 90px;
            object-fit: contain;
          }
        }
      }
      .basket-prod-descr {
        padding-left: 0;

        h4 {
          font-size: 14px;
        }

        .availability {
          font-size: 12px;
          white-space: nowrap;
        }
      }
      
      .basket-prod-quant {
        margin-top: 20px;
        padding-left: 20px;
        padding-top: 0;
        text-align: center;
      }

      .basket-prod-price {
        margin-top: 20px;
        padding-top: 0;
        text-align: right;
        p {
          font-size: 14px;
        }
      }
    }

    .shipping-payment {
      margin-top: 30px;

      .shipping-blocks {
      }

      .payment-blocks {
        margin-top: 80px;
      }

      .info-block-wrapper {
        margin-bottom: 30px;
        width: 500px;

        .info-block {
          padding: 25px;
          border: 1px solid $lgray-color;
          border-bottom: none;
          min-height: 100px;
          position: relative;

          .info-block-leg {
            position: absolute;
            width: 100%;
            top: -10px;
            left: 0;

            .info-block-lbl {
              padding: 0 20px;  
              margin: 0 auto;
              font-size: 18px;
              background: #fff;
              width: fit-content;
            }
          }
        }

        .button-smp {
          display: block;
          padding: 12px;
          font-size: 14px;
          text-align: center;
          border-color: $lgray-color;
          height: 46px;
          width: 100%;

          &:hover {
            border-color: $pink-color;
          }
        }
      }

      .profile-address {
        margin-top: 30px;
        margin-bottom: 60px;

        .address-block {
          padding: 20px;
          border: 1px solid $lgray-color;
          margin-right: 10px;

          address {
            font-size: 16px;
          }
          
          .ship-address, .edit-address {
            width: 100%;
            text-align: center;
            display: block;
            border-color: $lgray-color;
          }
          
          .edit-address {
            margin-top: 10px;
          }
        }
      }

      .new-address {
        .checkout-brdcrumb {
          margin-bottom: 30px;
          .checkout-lbl {
            font-size: 16px;
            color: $link-color;
            padding: 0 80px;
          }
        }

        .form-new-address {
          width: 45%;

          .id_line2 {
            width: 50%;
            float: left;
            padding-right: 15px;
          }

          .id_line3 {
            width: 50%;
            float: right;
            padding-left: 15px;
          }
        }
      }
    }

    .preview-order {
      .checkout-preview-brdcrumb {
        margin-bottom: 30px;

        li {
          color: $link-color;
          font-size: 18px;
          padding: 0 50px;
        }
      }

      .checkout-total {
        margin-top: 30px;
        margin-bottom: 50px;

        .order-preview-edit {
          margin-right: 85px;
        }

        .basket_table {
          width: 500px;
          border: 1px solid $lgray-color;

          tr {
            td {
              padding: 25px;
              padding-top: 0;
              font-size: 16px;
              color: #191919;
            }

            h3 {
              margin: 0;
              font-size: 22px;
            }

            .voucher-prc {
              color: $pink-color;
            }

            form {
              display: inline;

              .btn-x {
                background: #fff;
                border: none;
                outline: none;

                @include get-ico(10);
              }
            }

            .checkout-link {
              a {
                display: block;
                height: 50px;
                padding: 15px;
                background: $pink-color;
                color: #fff;
                text-align: center;

                &:hover {
                  border: 1px solid $pink-color;
                  padding: 14px;
                  background: #fff;
                  color: $pink-color;
                }
              }
            }
          }

          tr:first-child {
            td {
              padding-top: 25px;
            }
          }

          tr:last-child {
            td {
              padding: 0;
            }
          }

          .basket-discount + .align-right {
            color: $pink-color;
          }
        }

        .checkout-link {
          button {
            display: block;
            height: 50px;
            width: 100%;
            padding: 10px;
            background: $pink-color;
            border: 1px solid $pink-color;
            color: #fff;
            text-align: center;

            &:hover {
              border: 1px solid $pink-color;
              background: #fff;
              color: $pink-color;
            }
          }
        }
      }
    }

    .shipping-methods {
      margin-top: 20px;

    }
    .method-block-wrapper {
      margin-bottom: 20px;
      margin-right: 20px;

      .method-block {
        height: 130px;
        border: 1px solid $lgray-color;
        border-bottom: none;
        position: relative;

        .method-name {
          font-size: 16px;
          text-align: center;
        }

        .shipping_charge {
          margin: 10px 0;
          position: absolute;
          bottom: 0;
          left: 0;   
          text-align: center;   
          width: 100%;      
        }
      }
      
      form {
        .method-btn {
          width: 100%;
          border-color: $lgray-color;
        }
      }
    }
    
    #method_form {
      .method-block-wrapper {
        
        a {
          .method-block {
            border-bottom: 1px solid $lgray-color;
            padding: 25px;
            height: 75px;
            text-align: center;

            strong {
              font-size: 16px;
            }
          }
          
          &:hover {
            .method-block {
              border-color: $pink-color;
            }
          }
        }
      }
    }

    .checkout-end {
      .checkout-preview-brdcrumb {
        li {
          font-size: 18px;
          color: $link-color;
        }
      }

      .basket-title {
        margin-top: 15px;

        .quant-title {
          padding-left: 60px;
        }
      }

      .basket-items {
        .basket-prod-quant {
          padding-left: 15px;
        }
      }

      .shipping-payment {

        .info-block-wrapper {

          .info-block {
            border-bottom: 1px solid $lgray-color;
          }
        }

        .shipping-blocks {
          margin-top: 30px;
        }
      }

      .checkout-end-total {
        margin-bottom: 30px;

        .basket_table {
          width: 500px;
          border: 1px solid $lgray-color;
          white-space: nowrap;

          tr {
            td {
              padding: 25px;
              padding-top: 0;
              font-size: 16px;
              color: #191919;
            }

            h3 {
              margin: 0;
              font-size: 22px;
            }

            .voucher-prc {
              color: $pink-color;
            }

            form {
              display: inline;

              .btn-x {
                background: #fff;
                border: none;
                outline: none;

                @include get-ico(10);
              }
            }

            .checkout-link {
              a {
                display: block;
                height: 50px;
                padding: 15px;
                background: $pink-color;
                color: #fff;
                text-align: center;

                &:hover {
                  border: 1px solid $pink-color;
                  padding: 14px;
                  background: #fff;
                  color: $pink-color;
                }
              }
            }
          }

          tr:first-child {
            td {
              padding-top: 25px;
            }
          }

          .basket-discount + .align-right {
            color: $pink-color;
          }
        }
      }

      .checkout-end-btns {
        margin-bottom: 40px;

        .button, .button-smp {
          padding: 15px 150px;
        }
      }
    }
  }
}

.prds-block {
  border: 1px solid $lgray-color;
  margin-bottom: 30px;
  position: relative;

  ul {
    display: flex;
    overflow: hidden;
    width: calc(100% - 70px);
    margin: 0 auto;

    li {
      padding: 15px;
    }
  }

  .prds-block-lbl {
    display: block;
    width: 250px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: -10px;
    margin: 0;
    margin-left: -125px;
    font-size: 16px;
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;

  .hr-foot {
    border-color: $pink-color;
  }

  .foot-cont {
    display: flex;
    justify-content: space-around;
    width: 780px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -390px;
    
    p {
      display: block;
      color: $pink-color;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      &:before {
        display: inline-block;
        content: '';
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .foot-1 {

      &:before {
        @include get-ico(14);
      }
    }
    .foot-2 {

      &:before {
        @include get-ico(15);
      }
    }
    .foot-3 {

      &:before {
        @include get-ico(16);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }

  .collapse.in {
    display:block !important;
  }
}

@media (min-width: 991px) {
  .modal-dialog {
    width: 500px;
    margin-top: 150px;
  }
}

@media (max-width: 991px) {
  .price-color, td:last-child {
    white-space: nowrap;
  }

  .well {
    border-left: none;
    border-right: none;
  }

  .image_container {
    img {
      width: 100%;
    }
  }
  .product-pod-wrapper {
    width: 100%;
  }

  .prd-solo-cntrls {

    .cnt {
      font-size: 16px;
      margin: 0;
    }

    a {
      font-size: 24px;
      padding: 10px;
    }

  }

  .prds-block {

    .prds-block-lbl {
      width: 200px;
      margin-left: -100px;
    }
  }

  .fluid {
    width: 100%;
  }

  .header {

    .brdcrumb {
      border: none;
    }
  }

  .page {
    margin-top: 0px;
    margin-bottom: 20px;

    .content {

      .promotions {
        display: block;

        .promo {
          margin-bottom: 10px;
          width: 100%;

          img {
            width: 100%;
            max-height: 400px;
            object-fit: contain;
          }
        }

        &:after, &:before {
          display: table;
          content: " ";
        }

        &:after {
          clear: both;
        }
      }

      .popular {
        margin-top: 20px;
        
        .pop-content {
          display: block;
          white-space: nowrap;

          .pop-item {
            width: 50%;
            padding: 30px 10px;
            margin-right: 0;
            margin-left: 0;

            .pop-item-content {
              width: 100%;
              
              a {
                img {
                  width: 100%;
                  height: 150px;
                  object-fit: contain;
                }
              }

              .pop-item-title {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      
      .dropdown-btns {
        margin-top: 20px;

        .button-smp {
        	padding: 8px 10px;

        	.btn-cont {

        		> span {
        			margin-left: 5px;
        		}
        	}
        }
      }

      .side-categories {
        width: 85%;
        margin: 0 auto;
        margin-top: -1px;
        border: 1px solid $link-color;
        border-top: none;
        display: none;    

        .cat-list {
          width: 75%;
          margin: 0 auto;
          padding-bottom: 10px;
          padding-top: 10px;
        }    
      }

      .side-categories.open {
        display: block;
      }

      .products {

        .prd-sort {
          border: 1px solid #414141;
          width: 85%;
          margin: 0 auto;
          margin-top: -1px;
          border-top: none;

          .attr-wrap {
            display: none;
            .brand-sort {
              form {
                .ms-parent {
                  margin: 0;
                  margin-bottom: 5px;
                  width: 100% !important;
                  display: block;

                  .ms-choice {
                    border: none;
                    width: 75%;
                    margin: 0 auto;
                    position: relative;
                  }

                  .ms-drop {
                    position: relative;

                    .ms-search {
                      border: none;
                      
                      &:before {
                        @include get-ico-sm(12, 13, 23);
                      }

                      input {
                        border-left: none;
                        border-right: none;
                        border-color: $gray-color;
                      }
                    }

                    ul {
                      width: 60%;
                      margin: 0 auto;
                      border: none;
                      overflow: hidden;
                    
                      li {
                        padding: 0;
                        label {
                          cursor: pointer;
                          position: relative;
                          width: 100%;

                          span {
                            display: block;
                            width: 90%;
                            white-space: normal;
                          }

                          input {
                            display: none;
                          }

                          &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                          }
                        }
                      }

                      .selected {
                        label {

                          &:after {
                            @include get-ico (5);
                          }
                        }
                      }
                    }
                  }
                }

                .sort {
                  width: 75%;
                  margin: 0 auto;
                  margin-bottom: 15px;

                  li {
                    margin-right: unset;
                  }

                  .sort-lbl {
                    width: 100%;
                    padding: 3px 0 3px 8px;
                    cursor: pointer;
                    float: unset;

                    #sort_by_ico {
                      float: right;
                      display: inline-block;
                      vertical-align: middle;
                      @include get-ico-sm(9, 10, 10);
                    }
                  }       

                  .sort-cont {
                    width: 80%;
                    margin: 0 auto;
                    display: none; 
                    float: unset;


                    li {
                      display: block;
                      margin-bottom: 5px;
                      width: 100%;
                      float: unset;
                      span {
                        display: block;
                        float: right;
                      }
                    }
                  }
                }

                #sort_list.open {

                  .sort-lbl {

                    #sort_by_ico {
                      @include get-ico-sm(8, 10, 10);
                    }
                  }
                }
              }
            }            
          }
        }
          
        .prods-list {
          margin-top: 20px;

          .prd-item {
            margin-bottom: 30px;
            .product_pod {
              .image_container {
                width: 100%;

                a {
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        .open {         

          .attr-wrap {
            display: block;
          }
        }
      }
    }

    .product_page {
      margin-top: 20px;

      .product_main {
        .prod-image-wrap {
          margin-bottom: 15px;

          #product_gallery {
            width: 100%;

            .car-control {
              display: none;
            }
          }
        }

        .prod-info-wrap {

          .prd-info {
            margin-bottom: 30px;

            .price {
              position: absolute;
              right: 15px;
              top: 0;
            }

            .prd-cat {
              margin-bottom: 30px;
            }
          }

          .prd-buy {
          
            #add_to_basket_form {
              
              .prd-opts {
                min-height: 150px;
              }
            }

            #alert_form {
              padding: 15px;
            }

            p {
              padding: 15px;
            }

            .basket-border {
              padding: 0;
              border-left: none;
              border-right: none;
            }
          }
        }
      }
      
      .prds-block {

        ul {
          display: block;
          white-space: nowrap;

          li {
            width: 50%;
            display: inline-block;

            .product_pod {
              .image_container {
                a {
                  img {
                    width: 100%;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }
      }
    }

    .profile-page {
      padding-right: 15px;
      padding-left: 15px;

      .sidebar {
        margin-bottom: 10px;

        #dropdownTab {
          width: 100%;
          height: 36px;
          border-color: $link-color;

          .btn-cont {

            span {
              display: inline-block;
              vertical-align: middle;
              @include get-ico-sm(9, 10, 10);
            }
          }

          &:hover {
            border-color: $link-color;
          }
        }

        .nav {
          display: none;
          border-top: none;
          border-color: $link-color;
          padding: 10px;

          li {
            text-align: center;
          }
        }
      }
      
      .open {
        
        #dropdownTab {
          border-bottom: none;

          .btn-cont {

            span {
              @include get-ico-sm(8, 10, 10);
            }
          }
        }

        .nav {
          display: block;
        }
      }

      .rightbar {
        padding: 0;

        .profile-table {
          width: 100%;

          td:first-child {
            padding-right: 0;
          }

          td:last-child {
            text-align: right;
          }
        }

        .prof-links {
          width: 80%;
          display: block;
          margin: 0 auto;

          .button-smp {
            display: block;
            margin: 0;
            margin-bottom: 15px;
            text-align: center;
            width: 100%;
          }
        }

        form {
          width: 100%;
        }
      }
    }

    .basket-wrapper {
      h5 {
        padding: 10px;
      }

      .basket-items {
        .basket-prod-img {
          text-align: center;
          a {
            img {
              width: 90%;
              height: 90px;
              object-fit: contain;
            }
          }
        }
        .basket-prod-descr {
          padding-left: 0;

          h4 {
            font-size: 14px;
          }

          .availability {
            font-size: 12px;
            white-space: nowrap;
          }
        }
        
        .basket-prod-quant {
          margin-top: 20px;
          padding-left: 0;
          padding-top: 0;

          .prd-solo-cntrls {
            width: 90px;
            .cnt {
              margin: 0 5px;
            }
          }
        }

        .basket-prod-price {
          margin-top: 20px;
          padding-top: 0;
          p {
            font-size: 14px;
          }
        }
      }

      #content_inner {
        #voucher_form_container {
          padding: 0 10px;

          #voucher_form {
            width: 100%;

            .field-wrapper {
              width: 65%;

              .form-cntrl {
                width: 100%;
              }
            }

            .voucher-btn {
              width: 35%;
            }
          }
        }

        #basket_totals {
          .basket_table {
            width: 100%;
            border-bottom: none;

            tr {
              td {
                padding: 10px;
                font-size: 14px;
              }

              h3 {
                font-size: 18px;
              }
            }

            .checkout-link {
              padding-left: 0;
              padding-right: 0;
            }
          } 
        }
      }

      #basket-totals-wrapper, #basket_totals {
        width: 100%;
      }
    }

    .basket-brd {
      border: none;
    }

    .offer-list {
      margin-top: 20px;
    }

    .offer-detail {
      margin-top: 20px;

      .offer-descr {
        padding: 19px;
        .offer-descr {
          margin-bottom: 20px;
        }
      }
    }

    #password_reset_form {
      padding: 15px;
    }

    .checkout {
      .nav-checkout {
        border-left: none;
        border-right: none;

        .nav-checkout-list {

          .nav-checkout-item {

            span {
              font-size: 14px;
            }
          }

            .step-1 {
              width: 9%;
            }
            .step-2 {
              width: 23%;
            }
            .step-3 {
              width: 40%;
            }
            .step-4 {
              width: 57%;
            }
            .step-5 {
              width: 100%;
              border-right: none;
            }
        }
      }

      .shipping-payment {
        .well {
          border: none;
        }

        .btns-group {
          padding: 0 10px;
        }

        .shipping-blocks, .payment-blocks {
          padding: 0;

          .info-block {
            border-left: none;
            border-right: none;
          }
        }

        .shipping-step {
          .profile-address {
            margin-top: 0;
            
            .address-block {
              margin-right: 0;
              border-left: none;
              border-right: none;
            }
          }

          .new-address {
            .form-new-address {
              padding: 0 10px;
              width: 100%;
            }
          }
        }

        .info-block-wrapper {
          width: 100%;
        }
      }

      .preview-order {
        .checkout-total {
          margin-bottom: 20px;

          .order-preview-edit {
            margin-right: 5px;
          }

          .basket_table {
            width: 100%;
            border-left: none;
            border-right: none;
          }
        }
      }

      .checkout-end {
        .lead {
          padding: 10px;
        }

        .basket-items {
          padding: 0 10px;
        }

        .checkout-end-total {
          margin-bottom: 10px;

          .basket_table {
            width: 100%;
            white-space: normal;
            border-right: none;
            border-left: none;

            tr {
              td {
                padding: 10px;
              }
            }

            tr:first-child {
              td {
                padding-top: 15px;
              }
            }

            td:last-child {
              white-space: normal;
            }
          }
        }

        .checkout-end-btns {
          margin-bottom: 20px;

          .button {
            display: block;
            width: 100%;
            padding: 15px;
            text-align: center;
          }

          .pull-left, .pull-right {
            width: 100%;
            margin-bottom: 0px;
          }
        }

        .payment-blocks {
          margin-top: 30px;
        }
      }

      .shipping-methods {
      }
      .method-block-wrapper {
        margin-right: 0;

        .method-block {
          border-right: none;
          border-left: none;
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      border: none;

      .modal-content {
        padding: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        padding-top: 40px;

        .hr-div {
          margin: 0;
        }

        .modal-body {
          padding: 15px 10px;

          form {
            .login_forget, button {
              width: 50%;
            }
            .login_forget {
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        }

        .modal-footer {
          padding: 15px 10px;
        }
      }
    }
  }

  .header {

    .nav-class {
      display: block;
    }

    .nav-1 {
      padding: 15px;
      padding-bottom: 10px;

      ul {
        li {
          margin-left: 0;
         
        }
        .last-li {
          margin-left: 30%;
        }
      }

      &:before, &:after {
        display: table;
        content: ' ';
      }

      &:after {
        clear: both;
      }


      .navbar-toggle {
        float: left;
      }

      .nav-brand {
        float: left;
      }

      .nav-1-acc {
        float: right;
        min-width: 30%;
        width: unset;
        padding: 5px;

        #search_btn_mob {
          @include get-ico(2);
        }

        .cart-ico {
          @include get-ico(1);
        }
      }

      .nav-1-srch {
        margin-left: 0;
      }

      .open-search {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .form-group {
          height: 100%;

          .twitter-typeahead {
            width: 100%;
            height: 100%;
            
            .close-btn {
              position: absolute;
              right: 0px;
              top: 0px;
              width: 35px;
              height: 45px;

              span {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -11.5px;
                margin-left: -11.5px;

                @include get-ico(10);
              }
            }

            input {
              border-bottom: 0;
              width: 100%;
              padding: 6px 35px;
            }
            
            .tt-hint {
              width: 100% !important;
            }
            
            .tt-menu {
              display: block !important;
              top: 45px !important;
              height: 100%;
            }   
          }
        }
      }

      
    }

    .nav-2 {
      border-bottom: 1px solid $lgray-color;

      .nav-2-nav {
        padding: 20px;
        padding-top: 0;
        width: 100%;

        li {
        }
      }
    }

    .nav-3 {
      width: 50%;
      padding: 20px;
      float: left;

      .nav-3-nav {

        li {
          display: block;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .nav-4-mob {
      width: 50%;
      padding: 20px;
      float: right;

      .nav-4-nav {

        li {
          display: block;
          margin-right: 0;
          margin-bottom: 20px;
          text-align: right;

          .nav-4-link {
            font-size: 18px;
          }
        }
      }
    }
  }
}