{% load basket_tags %}
{% load display_tags %}
{% load my_tags %}
{% load currency_filters %}


{% if prod_info.session.0.availability.is_available_to_buy %}
    {% basket_form request product as basket_form %}
    <form class="{% if product.is_parent %}basket-border{% endif %}" id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post" class="add-to-basket">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'basket:summary' %}">
        {% if not product.is_parent %}
        <div class="prd-solo clearfix">
            {% if prod_info.session.0.price.is_tax_known %}
            <span class="solo-price">{{ prod_info.session.0.price.incl_tax|currency:prod_info.session.0.price.currency }}</span>
            {% else %}
            <span class="solo-price">{{ prod_info.session.0.price.excl_tax|currency:prod_info.session.0.price.currency }}</span>
            {% endif %}
            <div class="prd-solo-cntrls">
                <a class="cnt-minus" href="#"></a>
                <span class="cnt">1</span>
                <a href="#" class="cnt-plus"></a>
            </div>
        </div>
        {% endif %}
        {% include "partials/form_fields.html" with form=basket_form %}
    </form>
    <button type="submit" class="btn-add-to-basket" value="Добавить в корзину" data-loading-text="Добавление...">Добавить в корзину</button>
{% else %}
    {% if has_active_alert %}
        <p>У вас есть складское уведомление для этого товара.</p>
    {% else %}
        <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}" class="add-to-basket">
            {% csrf_token %}
            <p>Вы можете подписать на уведомление о поступлении товара в продажу.</p>
            {% include "partials/form_fields.html" with form=alert_form %}

            <button type="submit" class="button-smp" data-loading-text="Добавление...">Подписаться</button>
        </form>
    {% endif %}
{% endif %}
