{% load thumbnail %}
{% load staticfiles %}

{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    <div class="col-md-4 col-cust prod-image-wrap">
    {% if all_images|length > 1 %}

        <div id="product_gallery" class="carousel slide" data-ride="carousel">
            <div class="prd-photo">
                <div class="carousel-inner" role="listbox">
                {% for image in all_images %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        {% thumbnail image.original "330x300" upscale=False as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                        {% endthumbnail %}
                    </div>
                {% endfor %}
                </div>
                <a class="car-btn car-left" href="#product_gallery" role="button" data-slide="prev">
                    <span></span>
                </a>
                <a class="car-btn car-right" href="#product_gallery" role="button" data-slide="next">
                    <span></span>
                </a>
            </div>
            <ol class="car-control  carousel-indicators">
                {% for image in all_images %}
                <li data-target="#product_gallery" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}">
                    {% thumbnail image.original "65x55" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                    {% endthumbnail %}
                </li>
                {% endfor %}
            </ol>
        </div>

    {% else %}

        {# Only one image to show #}
        <div id="product_gallery" class="carousel">
            <div class="prd-photo">
                <div class="carousel-inner">
                    <div class="item active">
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "330x300" upscale=False as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                        {% endthumbnail %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    </div>
{% endwith %}
