{% load reviews_tags %}
{% load thumbnail %}
{% load display_tags %}

{% block product %}
    <div class="product_pod">
        <div class="product-pod-wrapper">
        {% block product_image %}
        <div class="image_container">
            {% with image=product.primary_image %}
                {% thumbnail image.original "x150" upscale=False as thumb %}
            <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                {% endthumbnail %}
            {% endwith %}
        </div>
        {% endblock %}

        <div class="prod-pod-descr">
            {% block product_title %}
            <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" class="prd-title">{{ product.get_title|truncatewords:4 }}</a>
            <p class="prod-cat-lbl">{{ product.categories.first.name }}</p>
            {% endblock %}

            {% block product_price %}
            <div class="product_price">
                {% include "catalogue/partials/stock_record.html" %}
            </div>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
