{% load currency_filters %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}


{% if session %}
        {% if session.price.is_tax_known %}
            <p class="price">{{ session.price.incl_tax|currency:session.price.currency }}</p>
        {% else %}
            <p class="price">{{ session.price.excl_tax|currency:session.price.currency }}</p>
        {% endif %}
{% else %}
    <p class="price">Нет в наличии</p>
{% endif %}