{% extends "customer/baseaccountpage.html" %}

{% block tabcontent %}
    <table class="profile-table">
        <tbody>
            <tr>
                <td>Имя и Фамилия</td>
                <td>{{ user.get_full_name|default:'-' }}</td>
            </tr>
            <tr>
                <td>Email адрес</td>
                <td>{{ user.email }}</td>
            </tr>
            {% block profile_fields %}
                {% for field in profile_fields %}
                    <tr>
                        <td>{{ field.name }}</td>
                        <td>{{ field.value|default:"-" }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
            <tr>
                <td>Дата регистрации</td>
                <td>{{ user.date_joined }}</td>
            </tr>
        </tbody>
    </table>

    <div class="prof-links">
        {% if user.has_usable_password %}
        <a href="{% url 'customer:change-password' %}" class="button-smp">Сменить пароль</a>
        {% else %}
        <a href="{% url 'customer:set-password' %}" class="button-smp">Установить пароль</a>
        {% endif %}
        <a href="{% url 'customer:profile-update' %}" class="button-smp">Редактировать профиль</a>
        <a href="{% url 'customer:logout' %}" class="button-smp">Выйти</a>
    </div>

{% endblock %}