{% extends "customer/baseaccountpage.html" %}
{% load currency_filters %}
{% load display_tags %}
{% load reviews_tags %}

{% block tabcontent %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Дата отправки</th>
                <th>К-во</th>
                <th>Цена без НДС</th>
                <th>Цена с НДС</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for line in order.lines.all %}
                {% with product=line.product %}
                    <tr>
                        <td>
                            {% if product %}
                                <p>
                                    <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                </p>
                            {% else %}
                                <p>
                                    {{ line.description }}
                                </p>
                            {% endif %}
                        </td>
                        <td>{{ line.est_dispatch_date|default:"-" }}</td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                        <td>{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                        <td width="90">
                            {% if product %}
                                <form id="line_form_{{ line.id }}" action="{% url 'customer:order-line' order_number=order.number line_id=line.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="reorder" />
                                    <button id="reorder_line_{{ line.id }}" class="button-smp" type="submit" data-loading-text="Повтор заказа...">Повторить заказ</button>
                                </form>
                            {% else %}
                                Больше не доступно
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}

            {% with discounts=order.basket_discounts %}
                {% block discount_totals %}
                    {% if discounts %}
                        <tr>
                            <td colspan="4">Цена корзины без Скидок</td>
                            <td colspan="2">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                        </tr>
                        {% for discount in discounts %}
                        <tr>
                            <td colspan="4">
                                <span class="label label-success">Скидка</span>
                                {{ discount.offer_name }}
                            </td>
                            <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock discount_totals %}

                {% block basket_total %}
                    <tr>
                        <th colspan="4">Цена корзины со скидками</th>
                        <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% endblock basket_total %}
            {% endwith %}

            {% block shipping_totals %}
                {% if order.has_shipping_discounts %}
                    <tr>
                        <td colspan="4">Цена доставки без скидок</td>
                        <td colspan="2">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                    </tr>
                    {% for discount in order.shipping_discounts %}
                    <tr>
                        <td colspan="4">
                            <span class="label label-success">Скидка</span>
                            {{ discount.offer_name }}
                        </td>
                        <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4">Цена доставки со скидкой</th>
                        <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="4">Итоговая цена доставки</th>
                        <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% endif %}
            {% endblock %}

            {% block order_total %}
                <tr>
                    <th colspan="4">Итоговая цена</th>
                    <td colspan="2">{{ order.total_incl_tax|currency:order.currency }}</td>
                </tr>
            {% endblock order_total %}
        </tbody>
    </table>

    {% block order_actions %}
        <form id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.id }}" />
            <input type="hidden" name="action" value="reorder" />
            <button type="submit" class="button-smp" data-loading-text="Перезаказ...">Перезаказать все позиции</button>
        </form>
    {% endblock order_actions %}

    <hr>

    <h2>Способ доставки</h2>
    <p>{{ order.shipping_method }}</p>

    <hr>

    <h2>Адрес доставки</h2>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Адрес</th>
            <th>Телефонный номер</th>
            <th>Заметка о доставке</th>
        </tr>
        <tr>
            <td>
                    {% for field in order.shipping_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
            </td>
            <td>{{ order.shipping_address.phone_number|default:"-" }}</td>
            <td>{{ order.shipping_address.notes|linebreaks }}</td>
        </tr>
    </table>
{% endblock tabcontent %}
