{% extends "customer/baseaccountpage.html" %}
{% load currency_filters %}
{% load staticfiles %}

{% block tabcontent %}

    {% if orders or form.is_bound %}
        <div class="well">
            <h2>Фильтрация</h2>
            <form action="." method="get" class="clearfix">
                {% include "partials/form_fields.html" with form=form %}
                <div class="form-group">
                    <button type="submit" class="button-smp" data-loading-text="Фильтрация...">Отфильтровать</button>
                    <a href="{% url 'customer:order-list' %}">Сбросить</a>
                </div>
            </form>
        </div>
    {% endif %}

    {% if orders %}
        <h2>{{ form.description }}</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Номер заказа</th>
                <th>Количество позиций</th>
                <th>Всего с НДС</th>
                <th>Дата добавления</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'customer:order' order_number=order.number %}">{{ order.number }}</a></td>
                    <td>{{ order.num_items }}</td>
                    <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                    <td>{{ order.date_placed }}</td>
                </tr>
            {% endfor %}
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        {% if form.is_bound %}
            <p>По вашему поиску ничего не найдено</p>
        {% else %}
            <p>Вы еще ничего не заказали</p>
        {% endif %}
    {% endif %}

{% endblock tabcontent %}