{% extends "catalogue/browse.html" %}

{% block breadcrumbs %}
    <ul class="brdcrumb">
        <li {% if not request.GET.q %}class="active"{% endif %}>
            Поиск
        </li>
        {% if request.GET.gender %}
            <li>
                <a href="{% url 'catalogue:index' %}?gender={{request.GET.gender}}">
                    {% if request.GET.gender == 'male' %}
                        Мужские
                    {% elif request.GET.gender == 'female' %}
                        Женские
                    {% endif %}
                </a>
            </li>
        {% endif%}
        {% if request.GET.q %}<li class="active"> "{{ request.GET.q }}"</li>{% endif %}
    </ul>
{% endblock breadcrumbs %}

{% block search_form_attrs %}action="{% url 'search:search'%}"{% endblock search_form_attrs %}

{% block content_wrapper %}
{{block.super}}
{% endblock content_wrapper %}

