{% extends "customer/baseaccountpage.html" %}

{% block tabcontent %}

    {% if addresses %}
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Адрес</th>
                    <th></th>
                </tr>
                {% for address in addresses %}
                    <tr>
                        <td>
                            {% if address.is_default_for_shipping %}
                                <span class="label label-success">Адрес доставки по умолчанию</span>
                            {% endif %}
                            {% if address.is_default_for_billing %}
                                <span class="label label-info">Адрес оплаты по умолчанию</span>
                            {% endif %}
                            <address>
                                {% for field in address.active_address_fields %}
                                    {{ field }}</br>
                                {% endfor %}
                            </address>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'customer:address-detail' pk=address.id %}">Редактировать</a>
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="{% url 'customer:address-delete' pk=address.id %}">
                                            Удалить
                                        </a>
                                    </li>

                                    {% if address.country.is_shipping_country and not address.is_default_for_shipping %}
                                        <li>
                                            <a href="{% url 'customer:address-change-status' pk=address.id action='default_for_shipping' %}">
                                                Установать как основной адрес доставки
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if not address.is_default_for_billing %}
                                        <li>
                                            <a href="{% url 'customer:address-change-status' pk=address.id action='default_for_billing' %}">
                                                Установить как основной адрес оплаты
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>В вашей адресной книге пусто</p>
    {% endif %}
    <p>
        <a href="{% url 'customer:address-create' %}" class="button-smp">Добавить адрес</a>
    </p>
{% endblock tabcontent %}

