{% load product_tags %}

{% block content %}
<section class="well well-blank promo-product-list clearfix">
    <div class="sub-header">
        <h3>{{ promotion.name }}</h3>
    </div>

    {{ promotion.description|safe }}

    <ul>
        {% for product in products %}
        <li class="col-xs-6 col-lg-3">{% render_product product %}</li>
        {% endfor %}
    </ul>

    {% if block.link_url %}
        <a href="{{ block.link_url }}">Подробнее..</a>
    {% endif %}
</section>
{% endblock %}
