{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ shop_name }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {% block favicon %}
            <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        {% endblock %}
        
        {# Block where global CSS will go. #}
        {% block styles %}{% endblock %}
        <link href="{% static 'css/multiple-select.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <body>
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->

        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        <script src="{% static 'js/multiple-select.js' %}"></script>
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script type="text/javascript">
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>
    </body>
</html>
