{% extends "base.html" %}
{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load promotion_tags %}
{% load thumbnail %}
{% load home_tags %}
{% load my_util_tags %}

{% block styles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}

{% block layout %}
    <div class="main-wrapper clearfix">
    {% if user.is_staff or perms.partner.dashboard_access %}
    <a href="{% url 'dashboard:index' %}" title="Панель управления" class="dash_link hidden-xs hidden-sm">Панель управления</a>
    {% endif %}
    <header class="header fluid">
        <div class="nav-class nav-1">
            {% block navbar_button %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_links" aria-expanded="true" aria-controls="navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% endblock navbar_button %}
            <a href="{{ homepage_url }}" class="nav-1-item nav-brand"><img src="{% static 'img/brand.svg' %}" alt="Духофф"></a>
            <a href="tel:88005553535" class="nav-1-item nav-1-tel hidden-xs hidden-sm">8 (800) 555 35 35</a>
            <form method="get" action="{% url 'search:search' %}" class="nav-1-item nav-1-srch hidden-xs hidden-sm" id="search_form">
                <div class="form-group">
                    {{ search_form.q }}
                </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                   tabindex="-1" />
            </form>
            
            <ul class="nav-1-acc nav-1-item clearfix">
                <li class="visible-xs visible-sm">
                    <a href="#" id="search_btn_mob" class="nav-1-item visible-xs visible-sm"></a>
                </li>
            {% if user.is_authenticated %}
                <li class="hidden-xs hidden-sm">
                    {% if num_unread_notifications > 0 %}
                    {# If user has new notifications - we change account link to go to inbox #}
                    <a href="{% url 'customer:notifications-inbox' %}">
                        <i class="icon-user"></i>
                        Профиль
                        <span class="label label-important">{{ num_unread_notifications }}</span>
                    </a>
                    {% else %}
                    <a href="{% url 'customer:summary' %}"><i class="icon-user"></i>Профиль</a>
                    {% endif %}
                </li>
            {% else %}
            <li>
                <a href="#" class="hidden-xs hidden-sm" data-toggle="modal" data-target="#authModal">Войти</a>
            </li>
            {% endif %}
            <li class="last-li"><a href="{% url 'basket:summary' %}"  class="nav-1-cart">
                <span class="hidden-xs hidden-sm nav-1-total">
                Корзина{% if request.basket.num_items %} (<span class="basket-num">{{request.basket.num_items}}</span>){% endif %}
                </span>
                <span class="cart-ico visible-xs visible-sm"></span>
            </a></li>
            </ul>
        </div>
        {% block nav_links %}
        <div id="nav_links" class="navbar-collapse collapse">  
            <div class="nav-class nav-2">
                <ul class="nav-2-nav">
                    <li><a class="nav-2-link{% if request.GET.gender == 'female' %} active{% endif %}" href="{% url 'catalogue:index' %}?gender=female">Женщинам</a></li>
                    <li><a class="nav-2-link{% if request.GET.gender == 'male' %} active{% endif %}" href="{% url 'catalogue:index' %}?gender=male">Мужчинам</a></li>
                </ul>
                <hr class="nav-2-hr hidden-xs hidden-sm">
            </div>

            <div class="nav-class nav-3">
                <ul class="nav-3-nav">
                    {% get_root_cats as root_cats %}
                    {% for cat in root_cats %}
                    <li><a class="nav-3-link nav-3-sub-link" href="{{cat.get_absolute_url}}{% if request.GET.gender %}?gender={{request.GET.gender}}{% endif %}">{{ cat.name|title }}</a></li>
                    {% endfor %}
                    <li><a class="nav-3-link nav-3-sub-link" href="{% url 'catalogue:index' %}?sort_by=date_created{% if request.GET.gender %}&gender={{request.GET.gender}}{% endif %}">Новинки</a></li>
                    <li><a class="nav-3-link link-sales" href="{% url 'offer:list' %}">Акции %</a></li>
                </ul>
                <hr class="nav-3-hr hidden-xs hidden-sm">
            </div>

            <div class="nav-class nav-4-mob visible-xs visible-sm">
                <div class="nav-4-nav">
                    {% if user.is_staff or perms.partner.dashboard_access %}
                    <li>
                        <a href="{% url 'dashboard:index' %}" class="nav-4-link">Панель управления</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                    {% if num_unread_notifications > 0 %}
                    {# If user has new notifications - we change account link to go to inbox #}
                        <a class="nav-4-link" href="{% url 'customer:notifications-inbox' %}">
                            Профиль
                            <span class="label label-important">{{ num_unread_notifications }}</span>
                        </a>
                    {% else %}
                        <a class="nav-4-link" href="{% url 'customer:summary' %}">Профиль</a>
                    {% endif %}
                    </li>
                    <li>
                    <a class="nav-4-link" href="{% url 'customer:logout' %}">Выйти</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-4-link" href="#" data-toggle="modal" data-target="#authModal">Войти</a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock nav_links %}
        {% block breadcrumbs %}{% endblock breadcrumbs %}
    </header>

        <div class="page fluid">
            {% block content_wrapper %}
            <div class="content">
                <div class="promotions">
                    {% for promotion in promotions_page %}
                    <div class="promo">
                    {% render_promotion promotion %}  
                    </div>
                    {% endfor %}
                </div>

                <div class="popular">
                    {% get_popular request as populars %}
                    <div class="pop-leg">Популярное</div>
                    <a class="scroll scroll-left btn" onclick="scroll_div(0, '.pop-content');">
                        <span></span>
                    </a>
                    <div class="pop-content carousel-prods dragscroll">
                        {% for pop in populars %}
                        {% if pop.title %}
                        <div class="pop-item">
                            <div class="pop-item-content">
                                {% with image=pop.primary_image %}
                                    {% thumbnail image.original "x150" upscale=False as thumb %}
                                <a href="{{ pop.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ pop.title }}"></a>
                                    {% endthumbnail %}
                                {% endwith %}
                                <p class="pop-item-title">{{ pop.title }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="scroll scroll-right btn" onclick="scroll_div(1, '.pop-content');">
                        <span></span>
                    </a>
                </div>
                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
        </div>

        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock footer %}
        {% endblock %}

        {% if not user.is_authenticated %}
        <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModaLLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    <div class="hr-div">
                        <span class="modal-title" id="authModaLLabel">Уже есть аккаунт?</span>
                    </div>
                    <div class="modal-body">
                        {% include 'partials/success_messages.html' %}
                        {% get_register_and_login_forms request request.session.login_form request.session.registr_form as ctx %}
                        <div class="modal-int clearfix">
                            <p class="modal-lbl hidden-xs hidden-sm">Аккаунт в {{ shop_name }}</p>
                            <a id="modal-swap" href="#" swap-text="Вход">Регистрация</a>
                        </div>
                        <form class="clearfix" id="login_form" action="{% url 'customer:login' %}" method="post">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=ctx.0 nolabel=True %}

                            <button class="button" name="login_submit" data-loading-text="Вход..." type="submit">Вход</button>
                            <a class="login_forget" href="{% url 'password-reset' %}">Забыли пароль?</a>
                        </form>

                        <form class="clearfix" id="register_form" action="{% url 'customer:register' %}" method="post" style="display: none;">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=ctx.1 nolabel=True %}

                            <button class="button" name="registration_submit" data-loading-text="Регистрация..." type="submit">Регистрация</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p class="footer-lbl">Через социальные сети</p>
                        <a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="{% static 'img/vk.png' %}" alt="VK">Вконтакте</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static "oscar/js/oscar/ui.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.ru.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/main.min.js" %}"></script>
    <script src="{% static "js/typeahead.min.js" %}"></script>
    <script src="{% static "js/jquery.query-object.min.js" %}"></script>
    <script src="{% static "js/dragscroll.min.js" %}"></script>
{% endblock %}
{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
    <script>
        var findProd = function() {
            return function findProd(q, sync, async) {
                if (q === '') {
                    q = 'a';
                }
                $.ajax({
                    url : "/api?q=" + q,
                    success : function(data) {
                        async(JSON.parse(data));
                    },
                    error : function(data) {
                        console.log('ERROR\n\n\n'+data);
                    },
                });
            }
        };
        $('#id_q').typeahead({
            hint: true,
            highlight: true,
            minLength: 0,
        },
        {
            display: "val",
            name: 'products',
            limit: 10,
            source: findProd(),
            templates: {
                suggestion: function(data) {
                    return '<div><a class="suggestion-link" href="' + data.url + '">'+ data.val + '<span>' + data.class +'</span></a></div>';
                },
            }
        });
        $('#authModal').on('shown.bs.modal', function (e) {
            $('#authModal').css('padding-right', 0);
        });
        {% if request.GET.errors == 'reg' %}
        $('#authModal').modal();
        $('#modal-swap').trigger("click");
        {% elif request.GET.errors == 'log' %}
        $('#authModal').modal();
        {% elif request.GET.reg == 'success' %}
        $('#authModal').modal();
        {% endif %}
    </script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
