{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}
    <div class="profile-page">
        {% block breadcrumbs %}{% endblock %}

            <div class="col-md-2 col-xs-12 sidebar col-cust">
                {# Render promotions at the top of the left-hand sidebar #}
                <div id="promotions_left hidden-xs hidden-sm">
                    {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
                {% block column_left %}{% endblock %}
            </div>

            <div class="col-md-10 col-xs-12 rightbar col-cust">
                {% include "partials/alert_messages.html" %}

                {% block content %}{% endblock %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
            </div>

    </div>
{% endblock %}
