{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    Предосмотр | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="shipping-payment clearfix">
        {% block shipping_address %}
            <div>
                {% if shipping_address %}
                    <div class="shipping-blocks info-block-wrapper pull-left">
                        <div class="info-block">
                            <div class="info-block-leg">
                                <h3 class="info-block-lbl">Адрес доставки</h3>
                            </div>
                            <address>
                                {% for field in shipping_address.active_address_fields %}
                                    {{ field }}<br/>
                                {% endfor %}
                            </address>

                            {% if shipping_address.phone_number %}
                                <h4>Контакты</h4>
                                <p>
                                    Телефон:  {{ shipping_address.phone_number }}
                                    {% if guest_email %}
                                        <br/>Email:  {{ guest_email }}
                                    {% endif %}
                                </p>
                            {% endif %}

                            {% if shipping_address.notes %}
                                <h4>Инструкции</h4>
                                <p>{{ shipping_address.notes|linebreaks }}</p>
                            {% endif %}
                        </div>
                        {% block shipping_address_actions %}
                            <a href="{% url 'checkout:shipping-address' %}" class="button-smp">
                                Изменить
                            </a>
                        {% endblock %}
                    </div>
                {% endif %}

                {% if shipping_method %}
                    <div class="info-block-wrapper pull-right">
                        <div class="info-block">
                            <div class="info-block-leg">
                                <h3 class="info-block-lbl">Способ доставки</h3>
                            </div>
                            <p>{{ shipping_method.name }}
                                {% if shipping_method.description %}
                                    - {{ shipping_method.description|safe }}
                                {% endif %}
                                <p class="price-color">{{ shipping_method.incl_tax}}</p>
                            </p>

                        </div>
                        {% block shipping_method_actions %}
                            <a href="{% url 'checkout:shipping-method' %}" class="button-smp">
                                Изменить
                            </a>
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        {% endblock shipping_address %}

        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}{% endblock payment_method %}
    </div>

    <div class="preview-order">
    {% block order_contents %}
        <ul class="brdcrumb checkout-preview-brdcrumb">
            <li class="active">
                Состав заказа
            </li>
        </ul>
        <div class="basket-title hidden-xs hidden-sm">
            <p class="col-sm-5 col-cust ">Позиция</p>
            <p class="col-sm-1 col-cust quant-title">Количество</p>
            <p class="col-sm-6 col-cust align-right">Всего</p>
        </div>
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div class="basket-items clearfix">
                <div>
                    <div class="col-sm-1 col-xs-2 col-cust basket-prod-img">
                        {% with image=line.product.primary_image %}
                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                            <a href="{{ form.instance.product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </div>
                    <div class="col-sm-4 col-xs-4 basket-prod-descr">
                        <h4><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                        <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                    </div>
                    <div class="col-sm-2 col-xs-2 basket-prod-quant">
                        {{ line.quantity }}
                    </div>
                    <div class="col-sm-2 col-sm-offset-3 col-xs-4 col-cust basket-prod-price">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-sm-6 col-xs-12 col-cust checkout-total">
        {% block order_contents_actions %}
            <a href="{% url 'basket:summary' %}" class="pull-right order-preview-edit">
                Редактировать состав заказа
            </a>
        {% endblock %}
            {% include 'basket/partials/basket_totals.html' with checkout=True %}
        </div>
    {% endblock order_contents %}
    </div>

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock content %}
