{% extends "layout.html" %}
{% load promotion_tags %}
{% load category_tags %}

{% block nav_links %}{% endblock nav_links %}
{% block navbar_button %}{% endblock navbar_button %}

{% block breadcrumbs %}
    <ul class="brdcrumb checkout-brdcrumb hidden-xs hidden-sm">
        <li class="checkout-lbl active">Оформление заказа</li>
    </ul>
{% endblock breadcrumbs %}

{% block content_wrapper %}
    <div class="checkout">
            {% block checkout_nav %}
                {% include 'checkout/nav.html' with step=0 %}
            {% endblock %}
            {% include 'partials/alert_messages.html' %}

            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
    </div>
    {% include "partials/footer_checkout.html" %}
{% endblock content_wrapper %}
