<div class="nav-checkout">
    <ul class="nav-checkout-list clearfix">
        {% spaceless %}
            <li class="step1 {% if step == 1 %}active{% else %}{% if step > 1 %}visited{% endif %}{% endif %} nav-checkout-item">
                <span>
                    Адрес<span class="hidden-xs hidden-sm"> доставки</span>
                </span>
            </li>

            <li class="step2 {% if step == 2 %}active{% else %}{% if step > 2 %}visited{% endif %}{% endif %} nav-checkout-item">
                <span>
                    <span class="hidden-xs hidden-sm">Способ доставки</span><span class="visible-xs visible-sm">Доставка</span>
                </span>
            </li>

            <li class="step3 {% if step == 3 %}active{% else %}{% if step > 3 %}visited{% endif %}{% endif %} nav-checkout-item">
                <span>
                    Предосмотр
                </span>
            </li>

            <li class="step4 {% if step == 4 %}active{% else %}{% if step > 4 %}visited{% endif %}{% endif %} nav-checkout-item">
                <span>
                    Оплата
                </span>
            </li>

            <li class="step5 {% if step == 5 %}active{% endif %} nav-checkout-item">
                <span>
                    Подтверждение
                </span>
            </li>
        <div class="progress-nav step-{{step}}"></div>
        {% endspaceless %}
    </ul>
</div>
