{% extends "checkout/checkout.html" %}
{% load my_util_tags %}

{% block title %}
    Детали платежа | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
	<div class="payment-details">
    {% block payment_details_content %}
    	<form id="method_form" action="{% url 'checkout:preview' %}" method="POST">
    		{% csrf_token %}
    		<div class="form-wrapper hidden">{{method_type}}</div>
            {% for item in method_type.method_type.subwidgets %}
                <div class="method-block-wrapper col-sm-3 col-cust">
                    <a href="#" onclick="$('#id_method_type').val('{{ item.data.value }}');$('#method_form').submit();">
                    <div class="method-block">
                        <strong>{{item}}</strong>
                    </div>
                    </a>
                </div>
            {% endfor %}
    	</form>
    {% endblock payment_details_content %}
    </div>
{% endblock payment_details %}
