{% extends "checkout/checkout.html" %}

{% load currency_filters %}
{% load shipping_tags %}

{% block title %}
    Способ доставки | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}Способ доставки{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}
    <div class="shipping-methods clearfix">
    {% for method in methods %}
    <div class="method-block-wrapper col-sm-3 col-cust">
        <div class="method-block">
            <div class="method-name">
                <h4><strong>{{ method.name }}</strong></h4>
            </div>
            <div class="shipping_charge">
                {% if method.description %}
                    <p>{{ method.description|safe }}</p>
                {% endif %}
                {% if method.is_discounted %}
                    <small>
                        {% shipping_charge_discount method basket as discount %}
                        Включая скидку в <strong>{{ discount|currency:basket.currency }}</strong> по акции <strong>{{ method.discount_name }}</strong>
                    </small>
                {% endif %}
                {% shipping_charge method basket as charge %}
                <p> 
                    Итоговая цена доставки 
                {% if charge.is_tax_known %}
                    {{ charge.incl_tax|currency:basket.currency }}
                {% else %}
                    {{ charge.excl_tax|currency:basket.currency }}
                {% endif %}
                </p>
            </div>
        </div>
        <form method="post" action="{% url 'checkout:shipping-method' %}">
            {% csrf_token %}
            <input type="hidden" name="method_code" value="{{ method.code }}" />
            <button type="submit" class="button-smp method-btn" data-loading-text="Обработка...">Выбрать вариант</button>
        </form>
    </div>
    {% endfor %}
    </div>
{% endblock shipping_method %}
