{% extends "checkout/checkout.html" %}

{% block title %}
    Адрес доставки | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
<div class="shipping-step">
    {% if user.is_authenticated %}
        {% if addresses %}
        <div class="profile-address clearfix">
                {% for address in addresses %}
                    {% block select_address_form %}
                        <div class="col-sm-4 col-cust address-block">
                            <address>
                                {% block select_address_fields %}
                                    {% for field in address.active_address_fields %}
                                        <span>{{ field }}</span><br/>
                                    {% endfor %}
                                {% endblock %}
                            </address>
                            <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="ship_to" />
                                <input type="hidden" name="address_id" value="{{ address.id }}" />
                                {% if address.is_default_for_shipping %}
                                    <button type="submit" class="button-smp ship-address" data-loading-text="Сохраняем...">Доставить на основной адрес</button>
                                {% else %}
                                    <button type="submit" class="button-smp ship-address" data-loading-text="Сохраняем...">Доставить на этот адрес</button>
                                {% endif %}
                                    <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="button-smp edit-address">Редактировать адрес</a>
                            </form>
                        </div>
                    {% endblock %}
                {% endfor %}
        </div>
        {% endif %}
    {% endif %}

    {% block new_address_form %}
        <div class="new-address">
            <ul class="brdcrumb checkout-brdcrumb">
                <li class="checkout-lbl active">{% if addresses %}Или на новый адрес{% else %}Адрес доставки{% endif %}</li>
            </ul>
            <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form-new-address">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=form %}
                <div class="form-group">
                    <div>
                        <button type="submit" class="button-smp" data-loading-text="Сохраняем...">Использовать новый адрес</button>
                        или <a href="{% url 'basket:summary' %}">назад</a>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
</div>
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
