{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}
        Подтверждение заказа {{ order.number }} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=5 %}
{% endblock %}

{% block content %}
<div class="checkout-end">
    <p class="lead">
        <strong class="h4">Подтверждение {{ order.number }}</strong>.
        Ваш заказ размещен и вам было выслано сообщение с подтверждением
    </p>
    <div class="order_total">
        <ul class="brdcrumb checkout-preview-brdcrumb">
            <li class="active">
                Состав заказа
            </li>
        </ul>
        <div class="basket-title hidden-xs hidden-sm">
            <p class="col-sm-5 col-cust">Позиция</p>
            <p class="col-sm-1 col-cust quant-title">Количество</p>
            <p class="col-sm-6 col-cust align-right">Всего</p>
        </div>
    </div>
    {% for line in order.lines.all %}
        <div class="basket-items clearfix">
            <div>
                <div class="col-sm-5 col-xs-5 basket-prod-descr">
                    <h4><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                    {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                    {% if line.est_dispatch_date %}
                        Расчетная отправка: <strong>{{ line.est_dispatch_date }}</strong>
                    {% endif %}
                </div>
                <div class="col-sm-2 col-xs-3 basket-prod-quant">
                    {{ line.quantity }}
                </div>
                <div class="col-sm-2 col-sm-offset-3 col-xs-4 col-cust basket-prod-price">
                    <p class="price_color">
                        {% if not show_tax_separately and line.is_tax_known %}
                            {{ line.line_price_incl_tax|currency:order.currency }}
                        {% else %}
                            {{ line.line_price_excl_tax|currency:order.currency }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="shipping-payment clearfix">
    {% block payment_info %}
        <div class="col-sm-6 col-cust payment-blocks">
            <div class="info-block-wrapper">
                <div class="info-block">
                    <div class="info-block-leg">
                        <h3 class="info-block-lbl">Оплата</h3>
                    </div>
                    {% for source in order.sources.all %}
                        <p>
                        {% if source.reference %}
                            {% with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                Оплата {{ amount }} "{{ type }}" (источник: {{ reference }})
                            {% endwith %}
                        {% else %}
                            {% with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                Оплата {{ amount }} "{{ type }}"
                            {% endwith %}
                        {% endif %}
                        </p>
                    {% empty %}
                        <p>
                        Этот заказ не требует оплаты
                        </p>
                    {% endfor %}

                    {% if order.billing_address %}
                        <h4>Адрес оплаты</h4>
                        <address>
                            {% for field in order.billing_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock payment_info %}
    {% block basket_totals %}
        <div class="col-sm-6 col-cust checkout-end-total clearfix">
            <div class="checkout-total">
                <div id="basket_totals">
                    <table class="basket_table pull-right">
                        {% with discounts=order.basket_discounts %}
                            {% block discount_totals %}
                                {% if discounts %}
                                    <tr>
                                        <td>Цена корзины без учета скидок</td>
                                        <td class="align-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                    </tr>
                                    {% for discount in discounts %}
                                        <tr>
                                            <td class="basket-discount"><span class="label label-success">Скидка на доставку</span> {{ discount.offer }}</td>
                                            <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endblock discount_totals %}

                            {% block basket_total %}
                                <tr class="basket-items">
                                    <td class="total">Итоговая цена корзины</td>
                                    <td class="total align-right">
                                        {{ order.basket_total_incl_tax|currency:order.currency }}
                                    </td>
                                </tr>
                            {% endblock basket_total %}
                        {% endwith %}

                        {% block shipping_total %}
                            <tr>
                                <td>Способ доставки</td>
                                <td class="align-right">{{ order.shipping_method }}</td>
                            </tr>
                            {% if order.has_shipping_discounts %}
                                <tr>
                                    <td>Цена доставки без скидок</td>
                                    <td class="align-right">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                </tr>
                                {% for discount in order.shipping_discounts %}
                                    <tr>
                                        <td><span class="label label-success">Скидка</span> {{ discount.offer }}</td>
                                        <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="total">Цена доставки с учетом скидок</td>
                                    <td class="total align-right">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="total">Цена доставки</td>
                                    <td class="total align-right">
                                        {% if show_tax_separately %}
                                            {{ order.shipping_excl_tax|currency:order.currency }}
                                        {% else %}
                                            {{ order.shipping_incl_tax|currency:order.currency }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endblock shipping_total %}
                        {% block post_order_action_totals %}
                            {% with actions=order.post_order_actions %}
                                {% if actions %}
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h3>После подтверждения заказа</h3></td>
                                    </tr>
                                    {% for action in order.post_order_actions %}
                                        <tr>
                                            <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% endblock post_order_action_totals %}

                        {% block order_total %}
                            <tr>
                                <td class="total"><h3>Итоговая цена</h3></td>
                                <td class="total align-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                            </tr>
                        {% endblock order_total %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock basket_totals %}
    
    {% block shipping_info %}
        <div class="shipping-blocks col-sm-12 col-cust">
            {% if order.shipping_address %}
                <div class="info-block-wrapper pull-left">
                    <div class="info-block">
                        <div class="info-block-leg">
                            <h3 class="info-block-lbl">Адрес доставки</h3>
                        </div>
                        <address>
                            {% for field in order.shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if order.shipping_address.phone_number %}
                            <h4>Контакты</h4>
                            <p>
                                Телефон:  {{ order.shipping_address.phone_number }}
                                {% if order.guest_email %}
                                    <br/>Email:  {{ order.guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if order.shipping_address.notes %}
                            <h4>Инструкции</h4>
                            <p>{{ order.shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if order.shipping_method %}
                <div class="info-block-wrapper pull-right">
                    <div class="info-block">
                        <div class="info-block-leg">
                            <h3 class="info-block-lbl">Способ доставки</h3>
                        </div>
                        <p>{{ order.shipping_method }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock shipping_info %}

    {# You will almost certainly want to override tdis block to provide a payment summary #}
    </div>


    {% block order_tracking %}
        {% if not order.user %}
            <a class="button-smp" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">Посмотреть статус заказа</a>.
        {% endif %}
    {% endblock %}

    {% block order_actions %}
    <div class="checkout-end-btns clearfix">
        <a onclick="window.print()" href="#" class="button-smp pull-left hidden-sm hidden-xs">Распечатать страницу</a>
        <a href="{{ homepage_url }}" class="button pull-right">Продолжить покупки</a>
    </div>
    {% endblock order_actions %}
</div>
{% endblock content %}
