{% extends "checkout/checkout.html" %}

{% block title %}
    Адрес доставки | {{ block.super }}
{% endblock title %}

{% block order_contents %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
{% block payment_details %}{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block shipping_address %}
    <form action="." method="post" id="delete_address_{{ object.id }}">
        {% csrf_token %}
        <div class="well">
            <address>
                {% for field in object.active_address_fields %}
                    {{ field }}<br/>
                {% endfor %}
            </address>
        </div>
        <p class="btns-group"><button type="submit" class="button-smp" data-loading-text="Удаление...">Удалить</button>
            или <a href="{% url 'checkout:shipping-address' %}">отмена</a>.</p>
    </form>
{% endblock shipping_address %}
