{% extends "layout.html" %}
{% load thumbnail %}
{% load promotion_tags %}


{% block title %}
    Корзина | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block content_wrapper %}
    {# Use a partial template so that AJAX can be used to re-render basket #}
    <ul class="brdcrumb basket-brd">
        <li class="active">Корзина</li>
    </ul>
    <div class="basket-wrapper">
    <div id="promotions">
        {% for promotion in promotions_page %}
            {% render_promotion promotion %}
        {% endfor %}
    </div>
    <div class="ajax-messages"></div>
    {% include 'basket/partials/basket_content.html' %}
    </div>
{% endblock content_wrapper %}

{% block footer %}{% endblock footer %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
    var timerBask;
    $('.cnt-minus').click(function(e) {
        e.preventDefault();
        clearTimeout(timerBask);
        var el = $(e.target);
        var cnt_inp = $('#'+el.attr('quan-id'));
        var cnt = parseInt(cnt_inp.val());
        var cnt_t = $('#'+el.attr('quan-id')+'-cnt');
        cnt -= 1;
        
        if (cnt > 0) {
            cnt_t.html(cnt);
            cnt_inp.val(cnt);
            var el_price = $('#'+el.attr('quan-id')+'-id');
            var price = parseFloat(el_price.attr('line-price').replace(',', '.'));
            var end_price = parseFloat((price * parseInt($('#'+el.attr('quan-id')+'-cnt').html())).toFixed(2));
            el_price.find('.price_color').html(end_price.toLocaleString().replace('.', ',') + ' руб.');
            changeBask(-1);
        } else {
            if (cnt == 0) {
                cnt_t.html(cnt);
                cnt_inp.val(cnt);
            }
            $('.cnt-minus').not(el).addClass('disabled');
            cnt_t.addClass("error-cnt");
            doBounce(cnt_t, 3, '15px', 150, '.cnt-minus');
            timerBask = setTimeout(function() {
                changeBask(-1);
                $('#'+el.attr('quan-id')+'-id').remove();
                refreshBask();
                if ($('.basket-items').length <= 0) {
                    window.location.href = "/";
                }
            }, 1000);
        }

    });

    $(".cnt-plus").click(function(e) {
        e.preventDefault();
        clearTimeout(timerBask);
        var el = $(e.target);
        var cnt_inp = $('#'+el.attr('quan-id'))
        var cnt = parseInt(cnt_inp.val());
        var cnt_t = $('#'+el.attr('quan-id')+'-cnt');
        var cnts = $('.quantity_inp');
        var sum = 0;
        
        for (var i = 0; i < cnts.length; i++) {
            sum += parseInt($(cnts[i]).val());
        }

        if (sum < 20 & cnt < parseInt(cnt_t.attr('quan-max'))) {
            cnt += 1;
            cnt_t.html(cnt);
            cnt_inp.val(cnt);
            var el_price = $('#'+el.attr('quan-id')+'-id');
            var price = parseFloat(el_price.attr('line-price').replace(/\s/g, '').replace(',', '.'));
            var end_price = parseFloat((price * parseInt($('#'+el.attr('quan-id')+'-cnt').html())).toFixed(2));
            el_price.find('.price_color').html(end_price.toLocaleString().replace('.', ',') + ' руб.');
            changeBask(1);
        } else {
            cnt_t.addClass("error-cnt");
            $('.cnt-plus').not(el).addClass('disabled');
            doBounce(cnt_t, 3, '15px', 150, '.cnt-plus');
        };
    });

{% endblock %}
