{% extends "layout.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load staticfiles %}
{% load my_tags %}
{% load my_util_tags %}
{% load cache %}


{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="brdcrumb">
        <li class="{% if not request.GET.gender %}active{%endif%}">{{ summary }}</li>
    {% if request.GET.gender %}
        <li class="active">
            {% if request.GET.gender == 'male' %}
                Мужские
            {% elif request.GET.gender == 'female' %}
                Женские
            {% endif %}
        </li>
    {% endif%}
    </ul>
{% endblock breadcrumbs %}

{% block content_wrapper %}
    <div class="content">
    <div class="visible-xs visible-sm dropdown-btns">
        <button class="button-smp" id="dropdownCategories" onclick="dropdownFC(0);"><div class="btn-cont">{% block tree_cat_lbl %}{% if category %}{{ category.name }}{% else %}{{ summary }}{% endif %}{% endblock tree_cat_lbl %}<span></span></div></button>
        <button class="button-smp" id="dropdownFilters" onclick="dropdownFC(1);"><div class="btn-cont">Фильтр<span></span></div></button>
    </div>
    {% if tree_categories %}
        <div class="side-categories col-md-3 col-cust">
            <ul class="cat-list">
                {% for tree_category, info in tree_categories %}
                    <li class="cat-list-item">
                        <a class="cat-link" href="{{ tree_category.get_absolute_url }}">
                            {% if tree_category.full_slug == category_slug %}
                                <strong>{{ tree_category.name }}</strong>
                            {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>
                        <p class="prd-cnt">{{ info.count }}</p>
                        {% if info.has_children %}<ul class="cat-child-list">{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        <section class="products col-md-9 col-cust">
            <div class="prd-sort dropdown">
                <div class="attr-wrap" id="attr-wrap-id">
                    <div class="brand-sort">
                        <form {% block search_form_attrs %}action="{% url 'catalogue:index' %}"{% endblock search_form_attrs %}method="GET">
                        <input type="hidden" name="attrs" value="attrs">
                        {% if request.GET.q %}
                        <input type="hidden" name="q" value="{{request.GET.q}}">
                        {% endif %}
                        {% for attr in attr_list %}
                        <select name="{{ attr.code }}" data-placeholder="{{ attr.label }}" id="{{ attr.code }}_select" class="filter-select" multiple>
                            {% for val in attr.values %}
                            <option value="{{attr.label}}: {{ val }}" {% if val in attr.checked %}selected="selected"{%endif%}>{{ val }}</option>
                            {% endfor %}
                        </select>
                        {% endfor %}
                        {% get_sort_tags request as sort_tags %}
                        <select name="sort_by" class="hidden" id="sort_by_select">
                            {% for sort_key, sort_lbl in sort_tags.0.items %}
                            <option value="{% if sort_key == sort_tags.1|slice:'1:' %}-{% endif %}{{sort_key}}" id="{{sort_key}}"{% if sort_key == sort_tags.1 or sort_key == sort_tags.1|slice:'1:' %} selected="selected"{% endif %}>{{ sort_lbl }}</option>
                            {% endfor %}
                        </select>
                        <ul class="sort ul-flex clearfix" id="sort_list">
                            <li class="sort-lbl">Сортировать по:<span id="sort_by_lbl"></span><span id="sort_by_ico"></span></li>
                            <div class="sort-cont">
                            {% for sort_key, sort_lbl in sort_tags.0.items %}
                            <li class="sort-i {% if sort_key == sort_tags.1|slice:'1:' or sort_key|slice:'1:' == sort_tags.1 %}sort-active {% if sort_tags.1|slice:'0:1' == '-' %}desc{%else%}asc{% endif %}{% endif %}" sort-by="{{sort_key}}">{{sort_lbl}}<span></span></li>
                            {% endfor %}
                            </div>
                        </ul>
                        <button class="button-smp filter-btn visible-xs visible-sm" type="submit" id="subm_drop_btn">Применить фильтры<span></span></button>
                        </form>
                    </div>

                    
                </div>
            </div>
            {% if products %}
            <ul class="prods-list clearfix">
                {% for product in products %}
                <li class="prd-item col-md-3 col-xs-6">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="nonefound">Эта категория пуста</p>
            {% endif %}
            {% include "partials/pagination.html" %}
        </section>
    </div>
{% endblock content_wrapper %}

{% block extrascripts %}
    {{block.super}}
    <script>
    var limit = 3;
    var $multiSel = $('.filter-select').multipleSelect({
        width: "250px",
        multipleWidth: 10,
        filter: true,
        selectAll: false,
        allSelected: false,
        noMatchesFound: "Совпадений не найдено",
        countSelected: "# из % выбрано",
        onOpen: function() {
            var $el = $('select[data-placeholder="'+this.placeholder+'"]')[0].id;
            var $mlist = $.grep($multiSel, function(i) {
                return i.id != $el;
            });
            $($mlist).multipleSelect('close');

            if(!$('.select-subm').length) {
                $('.ms-drop').append('<button class="button-smp select-subm hidden-xs hidden-sm">Применить</button>');
            }
        },
        onClick: function(view) {
            $("#subm_drop_btn").html("Применить фильтры");
            $("#subm_drop_btn").removeClass("drop-btn");
            var $checkboxes = view.instance.$el.next().find("input[type='checkbox']").not(":checked");
            var selectedLen = view.instance.$el.multipleSelect('getSelects').length;
            if (selectedLen >= limit) {
              $checkboxes.prop("disabled", true);
            } else {
              $checkboxes.prop("disabled", false);
            }
        },
    });
    isDropOrSubmit();
    </script>
{% endblock extrascripts %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
