{% extends "catalogue/browse.html" %}

{% block breadcrumbs %}
    <ul class="brdcrumb">
    	<li>
    		<a href="{% url 'catalogue:index' %}">Все товары</a>
    	</li>
		{% if request.GET.gender %}
			<li>
				<a href="{% url 'catalogue:index' %}?gender={{request.GET.gender}}">
					{% if request.GET.gender == 'male' %}
						Мужские
					{% elif request.GET.gender == 'female' %}
						Женские
					{% endif %}
				</a>
			</li>
		{% endif%}
        {% for category in category.get_ancestors %}
        <li>
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock breadcrumbs %}