{% extends "layout.html" %}

{% load currency_filters %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load my_tags %}
{% load my_util_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="brdcrumb">
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li{% if forloop.last %} class="active">
            {{ c.name }}
            {% else %}><a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    {% endwith %}
</ul>
{% endblock %}

{% block content_wrapper %}
{% include "partials/alert_messages.html" %}
<div class="product_page"><!-- Start of product page -->
    <div class="product_main clearfix">
        {% include "catalogue/partials/gallery.html" %}

        <div class="col-cust col-md-8 prod-info-wrap">
            {% comment %}
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% autoescape off %}
            <div class="prd-info col-md-6">
                {% purchase_info_for_prod request product as prod_info %}
                <h1 class="prd-title">{{ product.get_title }}</h1>
                <p class="prd-cat">{{ product.categories.last.name }}</p>
                {% if product.is_parent %}
                <p class="price">{{prod_info.min_max}}</p>
                {% endif %}
                <hr class="prd-info-hr hidden-xs hidden-sm">
                <table class="prd-table">
                    {% if product.upc %}
                    <tr>
                        <th>Артикул</th><td>{{ product.upc }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Тип товара</th><td>{{ product.get_product_class.name }}</td>
                    </tr>
                    {% if prod_info.session.0.price.is_tax_known and not product.is_parent %}
                    <tr>
                        <th>Цена</th><td>{{ prod_info.session.0.price.incl_tax|currency:prod_info.session.0.price.currency }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Доступность</th>
                        <td>{{ prod_info.session.0.availability.short_message }}</td>
                    </tr>
                    {% for av in product.attribute_values.all %}
                    <tr>
                        <th>{{ av.attribute.name }}</th>
                        <td>{{ av.value_as_html }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="prd-descr">{{ product.description }} </div>
                {% endautoescape %}
            </div>

            <div class="prd-buy col-cust col-md-6" prod-max="{{prod_info.session.0.availability.num_available}}">
                {% if user.is_staff %}
                <a class="staff-link pull-right" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small>Редактировать этот продукт</small></a>
                {% endif %}

                {% include "catalogue/partials/add_to_basket_form.html" %}
            </div>
        </div>
    </div>
    {% with recommended_products=product.sorted_recommended_products|slice:":6" %}
        {% if recommended_products %}
        <div class="prds-block clearfix">
            <h2 class="prds-block-lbl">Рекомендуемые продукты</h2>
            <a class="scroll scroll-left btn" onclick="scroll_div(0, '.rec-list');">
                <span></span>
            </a>
            <ul class="rec-list carousel-prods dragscroll">
                {% for product in recommended_products %}
                <li>
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
            <a class="scroll scroll-right btn" onclick="scroll_div(1, '.rec-list');">
                <span></span>
            </a>
        </div>
        {% endif %}
    {% endwith %}

    {% recently_viewed_products current_product=product %}

</div><!-- End of product page -->
{% endblock content_wrapper %}

{% block footer %}{% endblock footer %}

{% block extrascripts %}
    {{ block.super }}
    <script>
    var price = parseFloat($('.solo-price').text().slice(0, {{currencie_symb_len}}).replace(/\s/g, '').replace(',', '.'));
    initProd();
    var max_num = parseInt($('.prd-buy').attr('prod-max'));
    $('.cnt-minus').click(function(e) {
        e.preventDefault();
        var cnt = parseInt($('.quantity_inp').val());
        var cnt_t = $('.cnt');

        if (cnt > 1) {
            cnt -= 1;
            cnt_t.html(cnt);
            $('.quantity_inp').val(cnt);
        } else {
            cnt_t.addClass("error-cnt");
            doBounce(cnt_t, 3, '15px', 150);
        };

        var new_price = cnt * price;
        $('.solo-price').html(new_price.toLocaleString() + '{{currencie_symb}}');
    });

    $(".cnt-plus").click(function(e) {
        e.preventDefault();
        var cnt = parseInt($('.quantity_inp').val());
        var cnt_t = $('.cnt');

        if (cnt < 20 && cnt < max_num) {
            cnt += 1;
            cnt_t.html(cnt);
            $('.quantity_inp').val(cnt);
        } else {
            cnt_t.addClass("error-cnt");
            doBounce(cnt_t, 3, '15px', 150);
        };

        var new_price = cnt * price;
        $('.solo-price').html(new_price.toLocaleString() + '{{currencie_symb}}');
    });

    $('.btn-add-to-basket').click(function() {
        $('#add_to_basket_form').submit();
    });
    </script>
{% endblock %}
